<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="PackLib" Name="PackLib">
          <Directory Id="fr" Name="fr"/>
          <Directory Id="es" Name="es"/>
          <Directory Id="it" Name="it"/>
          <Directory Id="pl" Name="pl"/>
          <Directory Id="ReportTemplates" Name="ReportTemplates"/>
        </Directory>
        <Directory Id="Data" Name="Data"/>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
