<?xml version="1.0" encoding="utf-8"?>
<?include $(sys.CURRENTDIR)\Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="PackLib">
            <Directory Id="dir79C3E2AFE9261FB8C8ECA0864B9183CD" Name="es" />
            <Directory Id="dir9AA3BF36EA892601E370D102B541D66A" Name="fr" />
            <Directory Id="dirDC80E2C98BFA6A946C23A92CDA674B13" Name="it" />
            <Directory Id="dirCAF6B5BF0CD9C7D84B4D4372E6488FE6" Name="pl" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="GUIExtensionGroup">
            <Component Id="cmpB5F2771100F52D12860FA3E195E1F2BE" Directory="PackLib" Guid="0694E899-0309-4146-80EA-FA32D5348BCC">
                <File Id="fil0777030352A360404A6D34865891981F" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\Cureos.Measures.dll" />
            </Component>
            <Component Id="cmp4BE6F1602D4A9E1169DDC4AE88F5C696" Directory="PackLib" Guid="6101497B-361D-4831-AEDD-25760CFD19C3">
                <File Id="fil4D4DF82747F4478F4F1600C76F820CB5" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\netstandard.dll" />
            </Component>
            <Component Id="cmpF7DBB3DB90C231795A210FA29B9BDED6" Directory="PackLib" Guid="27C6BAEA-1433-46EE-9C35-AAFDA6429391">
                <File Id="filD41C721A8E2554B9F5A5C934F20CA9B0" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\Sharp3D.Boxologic.dll" />
            </Component>
            <Component Id="cmp8BF276CB484B0E1D3700226FB70DF47A" Directory="PackLib" Guid="D1F04C38-CF9B-43ED-9FDC-050E58840EE1">
                <File Id="fil4B006E3FF9F9CDC5BC83A373A844FE22" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\Sharp3DBinPacking.dll" />
            </Component>
            <Component Id="cmpFA3F737CB13792E4A80AE73247CC1070" Directory="PackLib" Guid="B832CA75-FBE7-4797-B7B4-9A97AEBEA39F">
                <File Id="fil78601734F77601AB601C5337002EB694" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\SourceGrid.dll" />
            </Component>
            <Component Id="cmp5B1324C9C051CA3E1B973FCB82A73E52" Directory="PackLib" Guid="BFE8F873-2EF6-4A61-8B87-9137AC02C5A4">
                <File Id="filABC17A98520B61E1C81C03E2874D19DA" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\System.Collections.Immutable.dll" />
            </Component>
            <Component Id="cmp47F408C085BBFCDAF267D3D7E06AB8F3" Directory="PackLib" Guid="80CDDCE6-4290-45AF-9412-9DB18054105D">
                <File Id="fil5A524DC56CD4410FC61FC17C684CCD75" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\treeDiM.EdgeCrushTest.dll" />
            </Component>
            <Component Id="cmp7A726A41FE490FD1DB24ADB922A2F7F5" Directory="PackLib" Guid="B7BED3E0-D6F7-4A6E-9BAE-05728B521B1E">
                <File Id="filB6BCFE6CF7E39F7254E8F2847BCBACE2" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\treeDiM.StackBuilder.Basics.dll" />
            </Component>
            <Component Id="cmpB5748DB170CF33732C3F08AE87AB1FDE" Directory="PackLib" Guid="FC88554E-1417-48BE-95C2-7A905FC4674E">
                <File Id="fil12CDB3AEF441E1C73ABFEC95843F324B" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\treeDiM.StackBuilder.Engine.dll" />
            </Component>
            <Component Id="cmpBFF4558AFE987E56C73FECF9CDBBD38B" Directory="PackLib" Guid="28F0AF5C-4F0A-44C5-BF19-4071A1D49783">
                <File Id="fil9FD2C3909106DCF01889C88A03BFE266" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\treeDiM.StackBuilder.Graphics.dll" />
            </Component>
            <Component Id="cmp4C0D20C2D928426F166AF7598E96B12B" Directory="PackLib" Guid="91E8FAA9-CB82-4CEF-842D-CCB8A91DCA22">
                <File Id="fil61C70AB00DFA836D401AC358ECFDAF2B" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\treeDiM.StackBuilder.GUIExtension.dll" />
            </Component>
            <Component Id="cmp788DA1EB975A4D0BCBB7FF31BB8579CC" Directory="PackLib" Guid="EEAA1B6E-71C2-4AA2-8C5C-1DD95C2CAF14">
                <File Id="fil77C3DB2B6EDA5DEB53EFDBD66F1C0C7A" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\treeDiM.StackBuilder.Reporting.dll" />
            </Component>
            <Component Id="cmpE3F9AC1278086F7241583DF31CC8988B" Directory="PackLib" Guid="436FADD2-7C1C-46E8-B7B6-AB76BF034C81">
                <File Id="fil62B534534610968F79205117BD020C90" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\WkHtmlToXSharp.dll" />
            </Component>
            <Component Id="cmpF144BD63BE7032C01B30BAEE5A70F442" Directory="PackLib" Guid="B98F3C6B-8656-4AC6-9EEC-727804C271AF">
                <File Id="fil3FA9E7FCA81EC2DFA3D5F68AC1BD5CA8" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\WkHtmlToXSharp.Win32.dll" />
            </Component>
            <Component Id="cmp0BFEB3397B08109BFA50F3E16673DBAB" Directory="PackLib" Guid="1C8C723C-593F-49DF-9E70-E8DA5734853A">
                <File Id="filBCF2B21E0788B232786FCD86C9F92E85" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\WkHtmlToXSharp.Win64.dll" />
            </Component>
            <Component Id="cmp0C629C75952F5FCBF97857E806F6541F" Directory="dir79C3E2AFE9261FB8C8ECA0864B9183CD" Guid="3BF22800-4E24-4756-85A7-4BB19CF11757">
                <File Id="fil38AB650FA9A1CF11406F792359DCBEAC" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\es\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp7C1B947E3E70335B9247F2F18CAB011A" Directory="dir79C3E2AFE9261FB8C8ECA0864B9183CD" Guid="F86BA5BE-7674-41D8-AB3B-523C6B931CEB">
                <File Id="fil6BB14452FA62AA583CF0652F950F954A" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\es\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmpA736A1267D8895E3B3DF57BC46F25E0F" Directory="dir79C3E2AFE9261FB8C8ECA0864B9183CD" Guid="877DC285-8C3D-4C8F-A557-B48DE0E61846">
                <File Id="fil4E9DCC8218A3A1AB6925613113792AA1" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\es\treeDiM.StackBuilder.GUIExtension.resources.dll" />
            </Component>
            <Component Id="cmpBEC8CDB374E3B59BCBF2F63D5CD84F9D" Directory="dir79C3E2AFE9261FB8C8ECA0864B9183CD" Guid="D594F22E-AB62-47C8-AC10-EBA936307670">
                <File Id="filAF996CE9A0445B7510CE3ECF50F9102C" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\es\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmp00BB5B8879E1A7BEE004ED3136B94F41" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="8AB80398-5FA2-4299-95A6-5A48DF2996B0">
                <File Id="fil1697D9F3380D562102469383D4D12F18" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\fr\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmpF3F289E26D37FC178AB0987CA220D391" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="B6FC479E-F584-45D4-9746-4D46882DE632">
                <File Id="fil541031C147EEE07A250C42BE3EEF47BD" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\fr\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp34D58CA6ECC951A597D818C37D386597" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="061CC823-FBC7-47BD-8E1C-D3917A01B677">
                <File Id="fil7E3CB6D471BCE42DBD6B30B4ED1A0427" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\fr\treeDiM.StackBuilder.GUIExtension.resources.dll" />
            </Component>
            <Component Id="cmp5B1454C139C1F1995312D7CCB14192DF" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="D10DC62B-2E82-4B54-A7A4-25F327501284">
                <File Id="fil66AA3FE0D32D7823AFB84D051DB2B83C" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\fr\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpE22681EC9B1817278651D8C46E226102" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="BF567F6C-A71A-4612-9DD0-82B1EDADD7D2">
                <File Id="fil3074809677F21F071AF9CB37581AC4B7" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\it\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp91B0130C7495BBA31126A504280C28E5" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="492DE6AA-B313-4108-B5B3-D651747BF8C7">
                <File Id="fil948F57A50D66A73338BD8921D3560230" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\it\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp5AC2A0A4759192EDFB1F29A72053DA58" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="117C9107-0A82-40A5-8FD1-95BE671CD8BE">
                <File Id="filC41183241AD04D12C04C1DA3C37E85C7" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\it\treeDiM.StackBuilder.GUIExtension.resources.dll" />
            </Component>
            <Component Id="cmp351E57A2C2F516511F99A5E99803443E" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="F698F7E2-6A50-4AC9-B3AF-A2583B57F244">
                <File Id="fil067C774DA8D51FEC8FF89808A009F770" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\it\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpB1EF8188E349156982DD190761950A3B" Directory="dirCAF6B5BF0CD9C7D84B4D4372E6488FE6" Guid="0965B2D3-1236-4CE5-A3B9-C1A5744397B6">
                <File Id="fil1C75D7F87E2C73CCE0E0B511EFE6A68B" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\pl\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmpE2F525B69C4A18485CA2BD5882BE0C17" Directory="dirCAF6B5BF0CD9C7D84B4D4372E6488FE6" Guid="AEC40BBC-7F9D-43F6-A09F-72C0E7C4961B">
                <File Id="filB471FD28C65E4C5AABAA0DEAFC1FC5E2" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\pl\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp89534F06912A24485C43A23C5DCEA705" Directory="dirCAF6B5BF0CD9C7D84B4D4372E6488FE6" Guid="45DF54BD-720D-4C70-AA5F-DC43FB92D17D">
                <File Id="fil36E383B8DEF6DA3CC11C0EC4C37E0540" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\pl\treeDiM.StackBuilder.GUIExtension.resources.dll" />
            </Component>
            <Component Id="cmp4C102A2AF2C39D293BECF97890C1FB78" Directory="dirCAF6B5BF0CD9C7D84B4D4372E6488FE6" Guid="2CCD5EB9-3FCD-4C6F-BED4-F2F0BCF5F71F">
                <File Id="filF0D3C8961179D5A68C42B2362F738D50" KeyPath="yes" Source="$(var.GuiExtensionSourceDir)\pl\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>