<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="treeDiM" Name="treeDiM">
          <Directory Id="INSTALLFOLDER" Name="treeDiM.StackBuilder.WCFAppServ">
            <Directory Id="BIN" Name="Bin"/>
          </Directory>
          <Directory Id="SAMPLECLIENT" Name="treeDiM.StackBuilder.WCFService.Test"/>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
  </Fragment>
</Wix>
