<?xml version="1.0" encoding="UTF-8"?>
<?include $(sys.CURRENTDIR)\Config.wxi?>
<?define WCFAppServ=..\..\treeDiM.StackBuilder.WCFAppServ?>
<?define BinDir=..\..\treeDiM.StackBuilder.WCFAppServ\bin\release\?>


<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER"/>
    <ComponentGroup Id="ServiceDefinition" Directory="INSTALLFOLDER">
      <Component Id="StackBuilder.svc" Guid="{6D53F34C-CBCA-4941-9A47-46AF05D9D142}">
        <File Source="$(var.WCFAppServ)\StackBuilder.svc"/>
      </Component>
      <Component Id="Web.config" Guid="{E9D8B7D1-EFA3-4DD5-AA1A-C8D21F8C2744}">
        <File Source="$(var.WCFAppServ)\Web.config"/>
      </Component>
    </ComponentGroup>
    <DirectoryRef Id="BIN"/>
    <ComponentGroup Id="ServiceBinaries" Directory="BIN">
      <Component Id="log4net.dll" Guid="{5D99E00C-F330-4ADD-97F8-E9D78117EE85}">
        <File Source="$(var.BinDir)log4net.dll"/>
      </Component>
      <Component Id="Cureos.Measures.dll" Guid="{3E465F27-406D-43DC-A465-53EB96500EA6}">
        <File Source="$(var.BinDir)Cureos.Measures.dll"/>
      </Component>
      <Component Id="Sharp3D.Math.dll" Guid="{701684BB-6AD7-4E02-8414-1CD90F9D146A}">
        <File Source="$(var.BinDir)Sharp3D.Math.dll"/>
      </Component>
      <Component Id="Sharp3DBinPacking.dll" Guid="{2D815BD0-7270-4184-A579-0E2CB19B5702}">
        <File Source="$(var.BinDir)Sharp3DBinPacking.dll"/>
      </Component>
      <Component Id="OfficePickers.dll" Guid="{ADD0331B-5B32-441E-BD55-1DB405A94F3E}">
        <File Source="$(var.BinDir)OfficePickers.dll"/>
      </Component>
      <Component Id="Microsoft.WindowsAzure" Guid="{A81001AA-7F67-4AE0-B7A6-8621527F1B44}">
        <File Source="$(var.BinDir)Microsoft.Azure.KeyVault.Core.dll"/>
        <File Source="$(var.BinDir)Microsoft.Data.Edm.dll"/>
        <File Source="$(var.BinDir)Microsoft.Data.OData.dll"/>
        <File Source="$(var.BinDir)Microsoft.Data.Services.Client.dll"/>
        <File Source="$(var.BinDir)Microsoft.WindowsAzure.Diagnostics.dll"/>
        <File Source="$(var.BinDir)Microsoft.WindowsAzure.Storage.dll"/>
        <File Source="$(var.BinDir)MonAgentListener.dll"/>
        <File Source="$(var.BinDir)netstandard.dll"/>
        <File Source="$(var.BinDir)System.Collections.Immutable.dll"/>
        <File Source="$(var.BinDir)Newtonsoft.Json.dll"/>
        <File Source="$(var.BinDir)System.Spatial.dll"/>
      </Component>
      <Component Id="treeDiM.StackBuilder" Guid="{C61D9742-6CF1-464F-9400-9DB6AF07E1D2}">
        <File Source="$(var.BinDir)treeDiM.EdgeCrushTest.dll"/>
        <File Source="$(var.BinDir)treeDiM.StackBuilder.Basics.dll"/>
        <File Source="$(var.BinDir)treeDiM.StackBuilder.Engine.dll"/>
        <File Source="$(var.BinDir)treeDiM.StackBuilder.Graphics.dll"/>
        <File Source="$(var.BinDir)treeDiM.StackBuilder.WCFAppServ.dll"/>
        <File Source="$(var.BinDir)treeDiM.StackBuilder.WCFAppServ.dll.config"/>
      </Component>
    </ComponentGroup>

	</Fragment>
</Wix>
