<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/UtilExtension"
     xmlns:iis="http://wixtoolset.org/schemas/v4/wxs/iis"
     >
  <Fragment>
    <PropertyRef Id="VIRTUAL_DIR_VAL"/>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="StackBuilderWCF_IISConfigure" Guid="5146762F-0E78-47d2-A105-6E18E2993619" KeyPath="yes">
        <!--define application pool-->
        <iis:WebAppPool Id="StackBuilderWCF_AppPool"
                        Name="StackBuilderWebApp"
                        Identity="applicationPoolIdentity"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.6"
                      />

        <!--define web site-->
        <iis:WebSite Id="StackBuilder_WebSite"
                     Description="StackBuilder WebSite"
                     AutoStart="yes"
                     StartOnInstall="yes"
                     ConfigureIfExists="yes"
                     Directory="INSTALLFOLDER"
        >
          <iis:WebAddress Id="AllUnassigned" Port="80" />
          <iis:WebVirtualDir Id="WebVirtualDir" Alias="[VIRTUAL_DIR_VAL]" Directory="INSTALLFOLDER" WebSite="StackBuilder_WebSite" >
            <iis:WebDirProperties Id="WebDirProperties" AnonymousAccess="yes" BasicAuthentication="no" WindowsAuthentication="no" />
          </iis:WebVirtualDir>
        </iis:WebSite>
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="WebIISConfiguration">
      <ComponentRef Id="StackBuilderWCF_IISConfigure"/>
    </ComponentGroup>
  </Fragment>
</Wix>
