<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="treeDiM.PLMPack.DBClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="treeDiM.PLMPack.DBClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <!-- WCF service --> 
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsnonSecureService" />
                <binding name="wsnonSecureService1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="wsSecureService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="wsSecureService1">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://services.plmpack.net/PLMPackService.svc/secure"
                binding="wsHttpBinding" bindingConfiguration="wsSecureService"
                contract="PLMPackSR.IPLMPackService" name="wsSecureService" />
            <endpoint address="http://services.plmpack.net/PLMPackService.svc/nonsecure"
                binding="basicHttpBinding" bindingConfiguration="wsnonSecureService"
                contract="PLMPackSR.IPLMPackServicePublic" name="wsnonSecureService" />
            <endpoint address="https://services.plmpack.net/PLMPackService.svc/secure"
                binding="wsHttpBinding" bindingConfiguration="wsSecureService1"
                contract="PLMPackSR.IPLMPackService" name="wsSecureService1" />
            <endpoint address="http://rd0003ff74df0b/PLMPackService.svc/nonsecure"
                binding="basicHttpBinding" bindingConfiguration="wsnonSecureService1"
                contract="PLMPackSR.IPLMPackServicePublic" name="wsnonSecureService1" />
        </client>
    </system.serviceModel>
    <userSettings>
        <treeDiM.PLMPack.DBClient.Properties.Settings>
            <setting name="CredentialUserName" serializeAs="String">
              <value>guest</value>
            </setting>
            <setting name="CredentialPassword" serializeAs="String">
              <value>guest_</value>
            </setting>
        </treeDiM.PLMPack.DBClient.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <treeDiM.PLMPack.DBClient.Properties.Settings>
            <setting name="ForgotPasswordURL" serializeAs="String">
                <value>http://plmpack.azurewebsites.net/Account/ForgotPassword</value>
            </setting>
        </treeDiM.PLMPack.DBClient.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
