<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="TechnologyBSA" Name="TechnologyBSA">
          <Directory Id="INSTALLFOLDER" Name="treeDiM.StackBuilder.TechnologyBSA">
            <Directory Id="Css" Name="css"/>
            <Directory Id="Bin" Name="Bin"/>
            <Directory Id="Javascript" Name="javascript"/>
            <Directory Id="App_Code" Name="App_Code"/>
            <Directory Id="Images" Name="Images"/>
            <Directory Id="Output" Name="Output"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
