<?xml version="1.0" encoding="UTF-8"?>
<?include $(sys.CURRENTDIR)\Config.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="*" Name="treeDiM.StackBuilder.TechnologyBSA"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="7c46518b-a78e-4201-bbaa-0937ee994794">
		<Package InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine" />
    <MediaTemplate EmbedCab="yes"/>
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Property Id="VIRTUAL_DIR_VAL" Value="StackBuilderTechBSAWebApp" />
    <PropertyRef Id="NETFRAMEWORK45"/>

    <Condition Message="This application requires .NET Framework 4.8. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>
    
    <!--Icon-->
    <Icon Id="BSA.ico" SourceFile="BSA.ico"/>
    <Property Id="ARPPRODUCTICON" Value="BSA.ico" />
    <Property Id="ARPHELPLINK" Value="$(var.CompanyURL)" />
    <Property Id="ARPURLINFOABOUT" Value="$(var.CompanyURL)" />

    <ComponentGroup Id="CompGroup_WebSitePages">
      <Component Id="CompDefault" Directory="INSTALLFOLDER" Guid="{8A21DF4C-06D3-40B8-8B21-F3781CFDBE1F}">
        <File Id="Default.aspx" KeyPath="yes" Source="$(var.StackBuilderTechBSASourceDir)\Default.aspx"/>
        <File Id="Default.aspx.cs" Source="$(var.StackBuilderTechBSASourceDir)\Default.aspx.cs"/>
        <File Id="LayerSelection.aspx" Source="$(var.StackBuilderTechBSASourceDir)\LayerSelection.aspx"/>
        <File Id="LayerSelection.aspx.cs" Source="$(var.StackBuilderTechBSASourceDir)\LayerSelection.aspx.cs"/>
        <File Id="LayerSelectionWebGL.aspx" Source="$(var.StackBuilderTechBSASourceDir)\LayerSelectionWebGL.aspx"/>
        <File Id="LayerSelectionWebGL.aspx.cs" Source="$(var.StackBuilderTechBSASourceDir)\LayerSelectionWebGL.aspx.cs"/>
        <File Id="LayerEdition.aspx" Source="$(var.StackBuilderTechBSASourceDir)\LayerEdition.aspx"/>
        <File Id="LayerEdition.aspx.cs" Source="$(var.StackBuilderTechBSASourceDir)\LayerEdition.aspx.cs"/>
        <File Id="Validation.aspx" Source="$(var.StackBuilderTechBSASourceDir)\Validation.aspx"/>
        <File Id="Validation.aspx.cs" Source="$(var.StackBuilderTechBSASourceDir)\Validation.aspx.cs"/>
        <File Id="ValidationWebGL.aspx" Source="$(var.StackBuilderTechBSASourceDir)\ValidationWebGL.aspx"/>
        <File Id="ValidationWebGL.aspx.cs" Source="$(var.StackBuilderTechBSASourceDir)\ValidationWebGL.aspx.cs"/>
        <File Id="LayerDesign.aspx" Source="$(var.StackBuilderTechBSASourceDir)\LayerDesign.aspx"/>
        <File Id="LayerDesign.aspx.cs" Source="$(var.StackBuilderTechBSASourceDir)\LayerDesign.aspx.cs"/>
        <File Id="LayerDesignIntro.aspx" Source="$(var.StackBuilderTechBSASourceDir)\LayerDesignIntro.aspx"/>
        <File Id="LayerDesignIntro.aspx.cs" Source="$(var.StackBuilderTechBSASourceDir)\LayerDesignIntro.aspx.cs"/>
        <File Id="Global.asax" Source="$(var.StackBuilderTechBSASourceDir)\Global.asax"/>
        <File Id="Handler.ashx" Source="$(var.StackBuilderTechBSASourceDir)\Handler.ashx"/>
        <File Id="HandlerLayerEditor.ashx" Source="$(var.StackBuilderTechBSASourceDir)\HandlerLayerEditor.ashx"/>
        <File Id="HandlerLayerThumb.ashx" Source="$(var.StackBuilderTechBSASourceDir)\HandlerLayerThumb.ashx"/>
        <File Id="HandlerCaseSet.ashx" Source="$(var.StackBuilderTechBSASourceDir)\HandlerCaseSet.ashx"/>
        <File Id="Web.config" Source="$(var.StackBuilderTechBSASourceDir)\Web.config"/>
      </Component>
      <Component Id="AppCode" Directory="App_Code" Guid="{AA67DF40-522C-4513-B85A-8BDB40C462FF}">
        <File Id="BoxPositionJS.cs" Source="$(var.StackBuilderTechBSASourceDir)\App_code\BoxPositionJS.cs" KeyPath="yes"/>
        <File Id="ConfigSettings.cs" Source="$(var.StackBuilderTechBSASourceDir)\App_code\ConfigSettings.cs"/>
        <File Id="Extensions.cs" Source="$(var.StackBuilderTechBSASourceDir)\App_code\Extensions.cs"/>
        <File Id="FtpHelpers.cs" Source="$(var.StackBuilderTechBSASourceDir)\App_code\FtpHelpers.cs"/>
        <File Id="InterlayerDetails" Source="$(var.StackBuilderTechBSASourceDir)\App_code\InterlayerDetails.cs"/>
        <File Id="LayerDetails.cs" Source="$(var.StackBuilderTechBSASourceDir)\App_code\LayerDetails.cs"/>
        <File Id="PalletDetails.cs" Source="$(var.StackBuilderTechBSASourceDir)\App_code\PalletDetails.cs"/>
        <File Id="PalletStacking.cs" Source="$(var.StackBuilderTechBSASourceDir)\App_code\PalletStacking.cs"/>
        <File Id="SessionVariables.cs" Source="$(var.StackBuilderTechBSASourceDir)\App_code\SessionVariables.cs"/>
      </Component>
      <Component Id="Javascript" Directory="Javascript" Guid="{E4DA2552-6C4C-4C2E-A80C-A976BB1A38CA}">
        <File Id="jquery.keyboard.extension_typing.js" Source="$(var.StackBuilderTechBSASourceDir)\javascript\jquery.keyboard.extension-typing.js" KeyPath="yes"/>
        <File Id="jquery.keyboard.js" Source="$(var.StackBuilderTechBSASourceDir)\javascript\jquery.keyboard.js"/>
        <File Id="jquery.min.js" Source="$(var.StackBuilderTechBSASourceDir)\javascript\jquery.min.js"/>
        <File Id="jquery.plugin.js" Source="$(var.StackBuilderTechBSASourceDir)\javascript\jquery.plugin.js"/>
        <File Id="jquery.plugin.min.js" Source="$(var.StackBuilderTechBSASourceDir)\javascript\jquery.plugin.min.js"/>
        <File Id="jquery.plugin.min.map" Source="$(var.StackBuilderTechBSASourceDir)\javascript\jquery.plugin.min.map"/>
        <File Id="jquery_ui.min.js" Source="$(var.StackBuilderTechBSASourceDir)\javascript\jquery-ui.min.js"/>
        <File Id="model_element.min.js" Source="$(var.StackBuilderTechBSASourceDir)\javascript\model-element.min.js"/>
        <File Id="three.min.js" Source="$(var.StackBuilderTechBSASourceDir)\javascript\three.min.js"/>
        <File Id="three_gltf_loader.min.js" Source="$(var.StackBuilderTechBSASourceDir)\javascript\three-gltf-loader.min.js"/>
        <File Id="fabric.min.js" Source="$(var.StackBuilderTechBSASourceDir)\javascript\fabric.min.js"/>
        <File Id="LayerDesignHelpers.js" Source="$(var.StackBuilderTechBSASourceDir)\javascript\LayerDesignHelpers.js"/>
      </Component>
      <Component Id="Css" Directory="Css" Guid="{E943DA53-6825-4049-A417-D174A0D974EF}">
        <File Id="default.css" Source="$(var.StackBuilderTechBSASourceDir)\css\default.css" KeyPath="yes"/>
        <File Id="jquery_ui.css" Source="$(var.StackBuilderTechBSASourceDir)\css\jquery-ui.css"/>
        <File Id="keyboard.css" Source="$(var.StackBuilderTechBSASourceDir)\css\keyboard.css"/>
        <File Id="keyboard_basic.css" Source="$(var.StackBuilderTechBSASourceDir)\css\keyboard-basic.css"/>
        <File Id="keyboard_dark.css" Source="$(var.StackBuilderTechBSASourceDir)\css\keyboard-dark.css"/>
        <File Id="keyboard_previewkeyset.css" Source="$(var.StackBuilderTechBSASourceDir)\css\keyboard-previewkeyset.css"/>
      </Component>
      <Component Id="Images" Directory="Images" Guid="{37401D10-C707-4A65-B449-4076E2E5DF73}">
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\ArrowRotate.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\down.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\downMost.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\up.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\upMost.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\left.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\leftMost.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\right.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\rightMost.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\MirrorLength.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\MirrorWidth.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\create.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\open.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\editlayer.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\export.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\Texture.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\BnInsert.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\BnRemove.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\Add1.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\Add2.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\Add3.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\Add4.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\BnRemoveCross.png"/>
        <File Source="$(var.StackBuilderTechBSASourceDir)\Images\BnRotate.png"/>
      </Component>
      <Component Id="CreateFolder" Directory="Output" Guid="{EF0D883F-2500-4C41-83D5-183186DF13A5}">
        <CreateFolder Directory="Output">
          <Permission User="Everyone" GenericAll="yes" />
        </CreateFolder>
      </Component>
    </ComponentGroup>
		<Feature Id="ProductFeature" Title="treeDiM.StackBuilder.TechnologyBSA" Level="1">
      <ComponentGroupRef Id="CompGroup_WebSitePages"/>
			<ComponentGroupRef Id="CompGroup_StackBuilderTechBSABin" />
      <ComponentGroupRef Id="WebIISConfiguration"/>
		</Feature>
	</Product>
</Wix>
