<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="treeDiM.StackBuilder.Reporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="treeDiM.StackBuilder.ExcelAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="treeDiM.StackBuilder.ExcelAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <treeDiM.StackBuilder.Reporting.Properties.Settings>
        <setting name="FontSizeRatioDetail" serializeAs="String">
          <value>0.05</value>
        </setting>
        <setting name="FontSizeRatioLarge" serializeAs="String">
          <value>0.015</value>
        </setting>
      </treeDiM.StackBuilder.Reporting.Properties.Settings>
      <treeDiM.StackBuilder.ExcelAddIn.Properties.Settings>
        <setting name="CellCaseLength" serializeAs="String">
          <value>B3</value>
        </setting>
        <setting name="CellCaseWidth" serializeAs="String">
          <value>B4</value>
        </setting>
        <setting name="CellCaseHeight" serializeAs="String">
          <value>B5</value>
        </setting>
        <setting name="CellCaseWeight" serializeAs="String">
          <value>B6</value>
        </setting>
        <setting name="CellPalletLength" serializeAs="String">
          <value>B9</value>
        </setting>
        <setting name="CellPalletWidth" serializeAs="String">
          <value>B10</value>
        </setting>
        <setting name="CellPalletHeight" serializeAs="String">
          <value>B11</value>
        </setting>
        <setting name="CellPalletWeight" serializeAs="String">
          <value>B12</value>
        </setting>
        <setting name="CellMaxPalletHeight" serializeAs="String">
          <value>B15</value>
        </setting>
        <setting name="CellMaxPalletWeight" serializeAs="String">
          <value>B16</value>
        </setting>
        <setting name="CellNoCases" serializeAs="String">
          <value>F3</value>
        </setting>
        <setting name="CellLoadWeight" serializeAs="String">
          <value>F4</value>
        </setting>
        <setting name="CellTotalPalletWeight" serializeAs="String">
          <value>F5</value>
        </setting>
        <setting name="ImageWidth" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="ImageHeight" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="ImageLeft" serializeAs="String">
          <value>6</value>
        </setting>
        <setting name="ImageTop" serializeAs="String">
          <value>3.5</value>
        </setting>
        <setting name="ImageSize" serializeAs="String">
          <value>768</value>
        </setting>
        <setting name="UnitSystem" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="Mode" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="LoadedPalletHeight" serializeAs="String">
          <value>2600</value>
        </setting>
        <setting name="OverhangX" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="OverhangY" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="ColumnLetterName" serializeAs="String">
          <value>A</value>
        </setting>
        <setting name="ColumnLetterDescription" serializeAs="String">
          <value>B</value>
        </setting>
        <setting name="ColumnLetterLength" serializeAs="String">
          <value>C</value>
        </setting>
        <setting name="ColumnLetterWidth" serializeAs="String">
          <value>D</value>
        </setting>
        <setting name="ColumnLetterHeight" serializeAs="String">
          <value>E</value>
        </setting>
        <setting name="ColumnLetterWeight" serializeAs="String">
          <value>F</value>
        </setting>
        <setting name="ColumnLetterOutputStart" serializeAs="String">
          <value>M</value>
        </setting>
        <setting name="UseDescription" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="StackCountMax" serializeAs="String">
          <value>1000</value>
        </setting>
        <setting name="MinDimensions" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="GenerateImageInRow" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="GenerateImageInFolder" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="FontSizeRatio" serializeAs="String">
          <value>0.015</value>
        </setting>
        <setting name="ImageFolderPath" serializeAs="String">
          <value />
        </setting>
        <setting name="ReportFolderPath" serializeAs="String">
          <value />
        </setting>
        <setting name="ReportTemplatePath" serializeAs="String">
          <value>C:\Program Files (x86)\treeDiM\StackBuilder\Bin\ReportTemplates\ReportTemplateHtml.xsl</value>
        </setting>
        <setting name="GenerateReports" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="HelpPageUrl" serializeAs="String">
          <value>http://www.plmpack.com/stackbuilder/Help/enu/MSExceladd-intogeneratepalletiza.html</value>
        </setting>
      </treeDiM.StackBuilder.ExcelAddIn.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <treeDiM.StackBuilder.ExcelAddIn.Properties.Settings>
            <setting name="StartPageUrl" serializeAs="String">
                <value>http://www.treedim.com/stackbuilder/</value>
            </setting>
            <setting name="SampleExcelFile" serializeAs="String">
                <value>Data\StackBuilderCalculator.xlsx</value>
            </setting>
        </treeDiM.StackBuilder.ExcelAddIn.Properties.Settings>
    </applicationSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ExcelDataReader" publicKeyToken="93517dbe6a4012fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
