<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="treeDiM.StackBuilder.ExcelAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <treeDiM.StackBuilder.ExcelAddIn.Properties.Settings>
            <setting name="CellCaseLength" serializeAs="String">
                <value>B3</value>
            </setting>
            <setting name="CellCaseWidth" serializeAs="String">
                <value>B4</value>
            </setting>
            <setting name="CellCaseHeight" serializeAs="String">
                <value>B5</value>
            </setting>
            <setting name="CellCaseWeight" serializeAs="String">
                <value>B6</value>
            </setting>
            <setting name="CellPalletLength" serializeAs="String">
                <value>B17</value>
            </setting>
            <setting name="CellPalletWidth" serializeAs="String">
                <value>B18</value>
            </setting>
            <setting name="CellPalletHeight" serializeAs="String">
                <value>B19</value>
            </setting>
            <setting name="CellPalletWeight" serializeAs="String">
                <value>B20</value>
            </setting>
            <setting name="CellMaxPalletHeight" serializeAs="String">
                <value>B23</value>
            </setting>
            <setting name="CellMaxPalletWeight" serializeAs="String">
                <value>B24</value>
            </setting>
            <setting name="CellNoCases" serializeAs="String">
                <value>B27</value>
            </setting>
            <setting name="CellLoadWeight" serializeAs="String">
                <value>B28</value>
            </setting>
            <setting name="CellTotalPalletWeight" serializeAs="String">
                <value>B29</value>
            </setting>
            <setting name="ImageWidth" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="ImageHeight" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="ImageX" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="ImageY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ImageSize" serializeAs="String">
                <value>1000</value>
            </setting>
        </treeDiM.StackBuilder.ExcelAddIn.Properties.Settings>
    </userSettings>
</configuration>