<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="Bin">
            <Directory Id="dirFDA47A283BDE3D4AFE0253B93F0C88FB" Name="de" />
            <Directory Id="dir79C3E2AFE9261FB8C8ECA0864B9183CD" Name="es" />
            <Directory Id="dir9AA3BF36EA892601E370D102B541D66A" Name="fr" />
            <Directory Id="dirDC80E2C98BFA6A946C23A92CDA674B13" Name="it" />
            <Directory Id="dirC599F0E5E003445D58AF6D5842D39DA5" Name="ja" />
            <Directory Id="dir19B6F3264CAEE877E4D90915789014AA" Name="nl" />
            <Directory Id="dirCAF6B5BF0CD9C7D84B4D4372E6488FE6" Name="pl" />
            <Directory Id="dirD1888EFD334C55EDDF43AB200F44D98B" Name="pt" />
            <Directory Id="dir1D92F9148DB2DF96092CA2FC8A82D322" Name="ReportTemplates" />
            <Directory Id="dir4E0D8F33BCE029AC60ECF953B16FF093" Name="ru" />
            <Directory Id="dir84C8A788551B0E152E3B315FA38A9074" Name="sv" />
            <Directory Id="dir6882BECEB897DD8DB8AA872AF840D7AB" Name="tr" />
            <Directory Id="dir1B5911377ED2778D0E4A974030CF8220" Name="zh" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="EdgeCrushTestDesktopGroup">
            <Component Id="cmp5D37549496D250FF6BC1BE06330C2F86" Directory="Bin" Guid="B31974B3-FDE3-46E0-9BE8-DF68F4C35347">
                <File Id="fil016C99FC65C1F24E8D7A26A4476D694D" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\CrashReporter.NET.dll" />
            </Component>
            <Component Id="cmp2EBA0D93AD623E0C4D744716E2DDB8AC" Directory="Bin" Guid="0112E302-A552-4688-A61C-C7C55F25BA4A">
                <File Id="fil587F06A85A68130451A68705CC2B42F2" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\CrashReporter.NET.dll.config" />
            </Component>
            <Component Id="cmpB5F2771100F52D12860FA3E195E1F2BE" Directory="Bin" Guid="DC740AEC-09FE-4E67-9071-1B67A478C882">
                <File Id="fil0777030352A360404A6D34865891981F" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\Cureos.Measures.dll" />
            </Component>
            <Component Id="cmp223F7A40DFEA68AB8E5332C1C201B6DC" Directory="Bin" Guid="540FB7F0-1637-4B14-8892-DD022AFBBBC3">
                <File Id="fil53216D1158CAC2A725AF4E77F7DA2DDE" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\log4net.dll" />
            </Component>
            <Component Id="cmp93B8AAD5CCAAA98FFAD347A19E6C3475" Directory="Bin" Guid="AF2AE971-C538-4ED1-B26A-C8D5F68AE16E">
                <File Id="fil2FE507B83B812AEF884414FEB99FA784" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\OfficePickers.dll" />
            </Component>
            <Component Id="cmp64874A6AA44AE8EA5EF21DE166ACA1D3" Directory="Bin" Guid="2AD5B0BC-3634-486F-8E0E-6BDC53EF5568">
                <File Id="fil4CA2823E816DFAAF212EF70D25DFA665" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\RichTextBoxAppender.dll" />
            </Component>
            <Component Id="cmpF7DBB3DB90C231795A210FA29B9BDED6" Directory="Bin" Guid="811DE5E4-5CA8-4B73-B8BE-E55F4B62791C">
                <File Id="filD41C721A8E2554B9F5A5C934F20CA9B0" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\Sharp3D.Boxologic.dll" />
            </Component>
            <Component Id="cmp84BB5F6380BAC7A6AA707C764F5B9C97" Directory="Bin" Guid="F14BBFD7-1542-452A-9863-505E1DE74A4D">
                <File Id="filD6F16025096C7EC5FA37321C27041CD2" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\Sharp3D.Math.dll" />
            </Component>
            <Component Id="cmp8BF276CB484B0E1D3700226FB70DF47A" Directory="Bin" Guid="FDE69ED0-9F1D-4166-84BF-E371F8E54286">
                <File Id="fil4B006E3FF9F9CDC5BC83A373A844FE22" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\Sharp3DBinPacking.dll" />
            </Component>
            <Component Id="cmpFA3F737CB13792E4A80AE73247CC1070" Directory="Bin" Guid="1DEA7396-F738-41B6-ACC8-13ECB116A49A">
                <File Id="fil78601734F77601AB601C5337002EB694" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\SourceGrid.dll" />
            </Component>
            <Component Id="cmp5B1324C9C051CA3E1B973FCB82A73E52" Directory="Bin" Guid="2E66ECC2-6039-4DC1-972A-B2E12CC7C7D8">
                <File Id="filABC17A98520B61E1C81C03E2874D19DA" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\System.Collections.Immutable.dll" />
            </Component>
            <Component Id="cmp56B5FD2AC91A9321D8364440DFB78D24" Directory="Bin" Guid="8FBE2E8A-EEED-407D-B846-35A7F7618548">
                <File Id="filCFDDDC5DF37CA791B05BDE3F8B29F2DE" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\treeDiM.Basics.dll" />
            </Component>
            <Component Id="cmp2C88C8DC9C7934601A2B44508D12D7C6" Directory="Bin" Guid="3BB68439-CD52-4A6A-92BF-C10092AE4FBD">
                <File Id="fil12309DF8089AA4B342BD39B4CD346ADC" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\treeDiM.EdgeCrushTest.Desktop.exe" />
            </Component>
            <Component Id="cmp441EF125D85532F9B4C285E3AC75E04D" Directory="Bin" Guid="63AE9A64-D1DE-4C5B-81ED-1ABE2767A808">
                <File Id="filDDC8D842C0B353EA13A2E8106BAD2EB9" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\treeDiM.EdgeCrushTest.Desktop.exe.config" />
            </Component>
            <Component Id="cmp47F408C085BBFCDAF267D3D7E06AB8F3" Directory="Bin" Guid="10287D6D-DB22-486D-809B-BD4C978AAE34">
                <File Id="fil5A524DC56CD4410FC61FC17C684CCD75" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\treeDiM.EdgeCrushTest.dll" />
            </Component>
            <Component Id="cmpFAC46841CA65F22174EF74E6AFD5ACD1" Directory="Bin" Guid="3AFD16C3-ECE5-4848-8A52-0771AD94A8B4">
                <File Id="fil596C3D64E5F94AAE8CF6FBE93BD71F73" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\treeDiM.EdgeCrushTest.dll.config" />
            </Component>
            <Component Id="cmp2CC43E9454ECBD501835AF4DADCE11CD" Directory="Bin" Guid="2DDCF7FE-D22F-4792-9210-94F32FB940B4">
                <File Id="filAEBEEE6D2A57D903B7C47C927B675B23" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\treeDiM.PLMPack.DBClient.dll" />
            </Component>
            <Component Id="cmpD59779542C652592094DF2958FB0E1CB" Directory="Bin" Guid="6AAD5DAC-1A12-4711-A4E5-6FC91E751AEA">
                <File Id="fil2A273FEC39063EDE3403A42B8A08D453" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\treeDiM.PLMPack.DBClient.dll.config" />
            </Component>
            <Component Id="cmp7A726A41FE490FD1DB24ADB922A2F7F5" Directory="Bin" Guid="0F6EEE81-CFDF-454E-AF21-8A4E23F135FE">
                <File Id="filB6BCFE6CF7E39F7254E8F2847BCBACE2" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\treeDiM.StackBuilder.Basics.dll" />
            </Component>
            <Component Id="cmpB5748DB170CF33732C3F08AE87AB1FDE" Directory="Bin" Guid="ACB4E21E-4364-49CF-B40B-3C73E15C85CF">
                <File Id="fil12CDB3AEF441E1C73ABFEC95843F324B" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\treeDiM.StackBuilder.Engine.dll" />
            </Component>
            <Component Id="cmpBFF4558AFE987E56C73FECF9CDBBD38B" Directory="Bin" Guid="7CCF9158-CEB4-478B-B283-71BD0F1E6778">
                <File Id="fil9FD2C3909106DCF01889C88A03BFE266" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\treeDiM.StackBuilder.Graphics.dll" />
            </Component>
            <Component Id="cmpCD7C6EED585709D6D6C3BC2D2E6EAABB" Directory="Bin" Guid="E10BCEE5-6D9A-424B-BCAF-264987B88C71">
                <File Id="fil3734595A1F6349CCFE38BC907E4D9545" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\treeDiM.StackBuilder.Graphics.dll.config" />
            </Component>
            <Component Id="cmp788DA1EB975A4D0BCBB7FF31BB8579CC" Directory="Bin" Guid="E23E02B6-9082-4C0E-A12C-FAAB732C7273">
                <File Id="fil77C3DB2B6EDA5DEB53EFDBD66F1C0C7A" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\treeDiM.StackBuilder.Reporting.dll" />
            </Component>
            <Component Id="cmp9A8519710BDB7B88BAA1879818CF9E3D" Directory="Bin" Guid="1536C43D-5193-4F5D-9A59-74BC081B8597">
                <File Id="filF94926A68D70375E559B127FF61891B8" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\treeDiM.StackBuilder.Reporting.dll.config" />
            </Component>
            <Component Id="cmpC84F6623B49D671A2535B33BDD33026B" Directory="Bin" Guid="53EC73CF-B120-46DA-B017-2B360813D8C7">
                <File Id="fil1287F0AF2D5F3C1F7FC2D2676331483F" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\WeifenLuo.WinFormsUI.Docking.dll" />
            </Component>
            <Component Id="cmpB4B339791AD3AF3DA31F686320E185A1" Directory="Bin" Guid="C6C23A54-64C0-4EEF-A30A-DD2AA0C23881">
                <File Id="filB95B3F1F24C588901A82B8AF338DE51C" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\wkhtmltox0.dll" />
            </Component>
            <Component Id="cmpE3F9AC1278086F7241583DF31CC8988B" Directory="Bin" Guid="94110774-8AD3-41FC-8543-B58DBBE1D7D4">
                <File Id="fil62B534534610968F79205117BD020C90" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\WkHtmlToXSharp.dll" />
            </Component>
            <Component Id="cmpF144BD63BE7032C01B30BAEE5A70F442" Directory="Bin" Guid="5EE55433-EB9E-4F7E-8488-2E18EBD70811">
                <File Id="fil3FA9E7FCA81EC2DFA3D5F68AC1BD5CA8" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\WkHtmlToXSharp.Win32.dll" />
            </Component>
            <Component Id="cmp0BFEB3397B08109BFA50F3E16673DBAB" Directory="Bin" Guid="C82A47E4-674F-492E-B5F0-F6AB96C1ABFC">
                <File Id="filBCF2B21E0788B232786FCD86C9F92E85" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\WkHtmlToXSharp.Win64.dll" />
            </Component>
            <Component Id="cmp0A158A8601CF3F0D9E77468B86A07747" Directory="dirFDA47A283BDE3D4AFE0253B93F0C88FB" Guid="AF8C5A59-832C-4F8E-BA89-4B3095BD46DA">
                <File Id="fil004475518AEB60B4FA560CEC7CC636D3" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\de\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp7A86F01A60D62593221BE1751801DDBD" Directory="dirFDA47A283BDE3D4AFE0253B93F0C88FB" Guid="6009A397-01A9-4AD9-84FE-AE7F11299E3E">
                <File Id="fil6913FAD6C0807F1CE396098CA8FB7DB0" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\de\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmp55BE40BD51911B1ED6DBC8A75458BEA5" Directory="dirFDA47A283BDE3D4AFE0253B93F0C88FB" Guid="0B4CFD7C-024C-4B82-A1F0-344115DD9401">
                <File Id="fil573525EDAFE1A119F04F5D89EFE8A429" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\de\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmpFFA4130388E6F42C68523F692B449EC9" Directory="dirFDA47A283BDE3D4AFE0253B93F0C88FB" Guid="4D84FA10-8182-41AC-8B17-952AA9412208">
                <File Id="fil891A822A2BBC26C312A11E751C692700" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\de\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmp0C629C75952F5FCBF97857E806F6541F" Directory="dir79C3E2AFE9261FB8C8ECA0864B9183CD" Guid="CEFAB746-E70A-4673-B63C-E0AC04A7B067">
                <File Id="fil38AB650FA9A1CF11406F792359DCBEAC" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\es\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmpF2F67D146227B02178AD6DA239BBB97C" Directory="dir79C3E2AFE9261FB8C8ECA0864B9183CD" Guid="8E680601-A3E6-4941-A931-735644CFF39A">
                <File Id="fil5D0261370F4DCD8BCBF75670EAC95B09" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\es\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmp7C1B947E3E70335B9247F2F18CAB011A" Directory="dir79C3E2AFE9261FB8C8ECA0864B9183CD" Guid="5A1B6361-6B30-4AF2-AE3D-DEA603B223D4">
                <File Id="fil6BB14452FA62AA583CF0652F950F954A" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\es\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmpBEC8CDB374E3B59BCBF2F63D5CD84F9D" Directory="dir79C3E2AFE9261FB8C8ECA0864B9183CD" Guid="115876B7-A07C-4902-B597-C2C17FE92527">
                <File Id="filAF996CE9A0445B7510CE3ECF50F9102C" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\es\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpB47C206094D2CC2343B5B79229093446" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="D8BFA610-D8A1-4A55-ADC5-50C95B97222C">
                <File Id="filA4A322BB4EE9DAFD62155C1C1987C3B4" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\fr\treeDiM.EdgeCrushTest.Desktop.resources.dll" />
            </Component>
            <Component Id="cmp00BB5B8879E1A7BEE004ED3136B94F41" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="9B62ACCE-29A0-40CA-9872-6BA276621689">
                <File Id="fil1697D9F3380D562102469383D4D12F18" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\fr\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp187545DD2244FEA8E17C949F26969567" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="156B9CA0-1AAF-49F3-9C6E-C954DBF920FF">
                <File Id="fil1B131F04CCF501175E28E7A086AB691B" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\fr\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmpF3F289E26D37FC178AB0987CA220D391" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="428B4592-7BFE-4553-81D0-B2DDACCFDDF8">
                <File Id="fil541031C147EEE07A250C42BE3EEF47BD" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\fr\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp5B1454C139C1F1995312D7CCB14192DF" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="029B8FBD-050C-4C17-B8BE-D565D1F6B3C0">
                <File Id="fil66AA3FE0D32D7823AFB84D051DB2B83C" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\fr\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpE22681EC9B1817278651D8C46E226102" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="3F7A317A-63AD-4427-BB3D-AD00F3D745D1">
                <File Id="fil3074809677F21F071AF9CB37581AC4B7" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\it\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp206236A25947AE5BE0BDB452EA53830D" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="AC686534-9607-4252-A498-B7EB892135F3">
                <File Id="fil056DA2BBA1FE864C8F217365A61AA7B3" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\it\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmp91B0130C7495BBA31126A504280C28E5" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="5BD58205-B1F5-4F29-AA36-31535108525A">
                <File Id="fil948F57A50D66A73338BD8921D3560230" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\it\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp351E57A2C2F516511F99A5E99803443E" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="11EFA2E7-1589-4E0B-9591-85EB2EEB8E62">
                <File Id="fil067C774DA8D51FEC8FF89808A009F770" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\it\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpF69941D6623337E3DD9DEDC95148FFA9" Directory="dirC599F0E5E003445D58AF6D5842D39DA5" Guid="DE926A97-7A3A-45AE-95F0-07914E29D045">
                <File Id="fil74A42BD9217491A59CA396889B4C7664" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ja\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp5B2353717BF084622ED8FDC1681E98A5" Directory="dirC599F0E5E003445D58AF6D5842D39DA5" Guid="55D20C7C-E0A7-42B6-A71E-B6663A27B740">
                <File Id="fil457300AB757877234A5176444FC27452" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ja\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmp0E92D147C40ED6CCA39D17124B8AABCF" Directory="dirC599F0E5E003445D58AF6D5842D39DA5" Guid="F4C5C716-2412-426F-9457-2555A384FBD7">
                <File Id="fil3A469D73BE170713B809EE7AADB2BEF5" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ja\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmpB5F58706B3A604993E902788003A5CA8" Directory="dirC599F0E5E003445D58AF6D5842D39DA5" Guid="F88B34B2-AC66-45BB-90B9-7222D3493615">
                <File Id="fil8F1339605FD7C6754F0DA8CCD232C040" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ja\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmp9060976897A780877B1BB483A2793432" Directory="dir19B6F3264CAEE877E4D90915789014AA" Guid="5C5DAD97-867F-4056-9C3B-2D73E1E577A7">
                <File Id="fil7635476B54CDCB74B585F7212BCC7307" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\nl\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp553C1E7C1D0BDBBDCE7872436A45BE97" Directory="dir19B6F3264CAEE877E4D90915789014AA" Guid="CD889CD8-1082-469C-A754-C83A0DCEF3C5">
                <File Id="fil903734B0A3B2692E6010F0876F9C9D47" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\nl\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp0B39D46778567B921CFAA01741A2A252" Directory="dir19B6F3264CAEE877E4D90915789014AA" Guid="C24244E5-0B40-4DF6-928E-14AD58AFCB9C">
                <File Id="fil1C3F9F3B0DAF621F00C5284C4CEF1C95" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\nl\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpB1EF8188E349156982DD190761950A3B" Directory="dirCAF6B5BF0CD9C7D84B4D4372E6488FE6" Guid="E32F90D9-5BF7-4B4F-BD73-3BDF58369558">
                <File Id="fil1C75D7F87E2C73CCE0E0B511EFE6A68B" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\pl\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp8B1988D62241D2CA8811240ECD393166" Directory="dirCAF6B5BF0CD9C7D84B4D4372E6488FE6" Guid="E4F6E689-D393-4DEE-8920-B28A7CE2E859">
                <File Id="fil6F32EAA763BC36E5FCBB329770F503FC" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\pl\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmpE2F525B69C4A18485CA2BD5882BE0C17" Directory="dirCAF6B5BF0CD9C7D84B4D4372E6488FE6" Guid="6BA81384-5967-43E0-87C7-3D834CFEB0DE">
                <File Id="filB471FD28C65E4C5AABAA0DEAFC1FC5E2" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\pl\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp4C102A2AF2C39D293BECF97890C1FB78" Directory="dirCAF6B5BF0CD9C7D84B4D4372E6488FE6" Guid="B963B064-D537-4370-92C0-E45922E99ECD">
                <File Id="filF0D3C8961179D5A68C42B2362F738D50" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\pl\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmp77CBEBB0693309FEFB30B54705C11529" Directory="dirD1888EFD334C55EDDF43AB200F44D98B" Guid="3D3E7420-C21F-4AC9-97E7-92E0C428F3EB">
                <File Id="fil1927D7E7803BA1DD8112F186F8CB478F" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\pt\OfficePickers.resources.dll" />
            </Component>
            <Component Id="cmp8975819856E14DBAE8BFD33D192B532D" Directory="dirD1888EFD334C55EDDF43AB200F44D98B" Guid="E25A0C0A-1181-49FA-8FAE-931042E5D51A">
                <File Id="fil9499B5B4560ADABA2DEBD443EED7EAB2" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\pt\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp53748A06CED2016E25C16F38580AE223" Directory="dirD1888EFD334C55EDDF43AB200F44D98B" Guid="A4B1D1AA-3721-4424-A1DA-11836265AA29">
                <File Id="fil1B856DF9CF2D4F374556F7E55A3755D1" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\pt\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp4F2CE0F12C718E4D1FCB0EF4ACD9171C" Directory="dirD1888EFD334C55EDDF43AB200F44D98B" Guid="D40E9C86-ADD8-43A3-A4F3-329CDFBCB9EA">
                <File Id="fil958E5FADB0938677DD2DE828F41F6D32" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\pt\treeDiM.StackBuilder.Graphics.resources.dll" />
            </Component>
            <Component Id="cmp9F18C7390FBFB8C66929EFB6EB5509CB" Directory="dirD1888EFD334C55EDDF43AB200F44D98B" Guid="B776646B-7A82-493E-A4F3-BE3C307CFA71">
                <File Id="fil0B98A9631FBED5FF924BE2F308D5760F" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\pt\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmp67B1A8A8907469CB45172D7921ACC275" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="DED080E6-FD51-421F-94B2-D047F1995383">
                <File Id="filF945E892A6BE4CB16C57FCC8357F2262" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\CAT.xml" />
            </Component>
            <Component Id="cmp756B850D11FF9BAE4AE7958562DF205D" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="7908A028-3242-4EBD-AAC6-191B6D921B23">
                <File Id="filAB0B29DEEA1EA1EFF9DAF5D58C84533B" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\CHS.xml" />
            </Component>
            <Component Id="cmpF6A0B15ABBAC0D2FC5B07A489272EE07" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="7FE57E49-9FD3-4CF4-895B-7781D0DA60F4">
                <File Id="fil9627CF631D06D3AD128E1BF8101643B6" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\CopyToUntranslatedFiles.bat" />
            </Component>
            <Component Id="cmpF5FBB02E44A6E1266D666719459CE9DB" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="EB9F4F19-A2EF-44D0-B43F-9A822E9CC5B3">
                <File Id="filCF4B48FCEE8100EA0C0E5D988768AB5C" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\DEU.xml" />
            </Component>
            <Component Id="cmpE9FD2B5A9076DD271F36C5DFA91D17A3" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="46ACDD47-2FE5-4767-8E5E-3254478840E8">
                <File Id="filC969C0C58BEED0E16FBFC50ED906B77D" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\ENU.xml" />
            </Component>
            <Component Id="cmpE46C3E63A835D3F59A2BDCB2B443B8D4" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="4930E33E-CF62-483D-85A0-9D1D6DE5DFC2">
                <File Id="filD9BFF100DB0E16D88C7388C3150085E7" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\ESP.xml" />
            </Component>
            <Component Id="cmp1D8A7C8BF2DE546A258BD17E1DDF6880" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="3E256237-EF63-4DB8-B9F4-5084575D5E08">
                <File Id="filC9BD82DBE3780EC883DC2817F61E3C4D" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\FRA.xml" />
            </Component>
            <Component Id="cmpD5ABF5F6A0E23DBC4E928D12CB4EA075" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="17466D71-44C8-4040-B5E0-0F582827A0C9">
                <File Id="filB1D5126D52AD0758F9708CFC5A986425" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\ITA.xml" />
            </Component>
            <Component Id="cmpCB5C2E1463183F0E9C57CFC0BC897B5B" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="EFF4E673-3847-4512-9126-C74D273396B1">
                <File Id="fil11FE1B498F22934A52CA8403740EDA4E" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\JPN.xml" />
            </Component>
            <Component Id="cmp331544C012CE102F12FA388E6C9723CB" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="8B65B350-FB75-4A29-A547-7C8ECB4749B2">
                <File Id="fil901819D96DE674CE5312A011D0053BD9" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\NDL.xml" />
            </Component>
            <Component Id="cmp6A13FD24B6774CF958C45528D8C0889D" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="91F6FE2C-5548-4263-80B3-D0AEF16E7BF1">
                <File Id="filC432EADB8810351B54EB56FA9973DE4D" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\ReportSchema.xsd" />
            </Component>
            <Component Id="cmp3821FC6B08D3AD2D13B9E7B882A77287" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="5BE40DDC-BB62-4514-ADFC-FE5A5C89EB55">
                <File Id="fil60EC446618A89F8596C79847E9F7F017" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\ReportTemplateHtml.xsl" />
            </Component>
            <Component Id="cmp2948C56A34615F4FA7DAA2EE2263F3DC" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="6CACF653-12FB-4A63-A30C-83B63589976A">
                <File Id="fil29A4D7D8C835EBCB842D2EE071969F17" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\ReportTemplateHtml_INTEX.xsl" />
            </Component>
            <Component Id="cmp9F19185DEC27B2459BEB79D132AAEF60" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="82036D47-F497-47A1-9588-1DF5648E48E8">
                <File Id="fil45AFE306BBA9845AC897E05C1F67BFC7" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\ReportTemplatesHtml_MAPASPONTEX.xsl" />
            </Component>
            <Component Id="cmpF6B9D93607D2C4F5BB797E8E11D2CC51" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="9A380A26-1A1F-4075-93F8-39FF6700C465">
                <File Id="fil71BC6F49EFC149B3181EE0F1C36EF840" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\ReportTypes.xsd" />
            </Component>
            <Component Id="cmpA0B5BB6262C873EA7D113FB5977EE3DD" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="0308A7B5-C9EC-422A-A621-2434B717C133">
                <File Id="filD330DB3FF8697EA6D5F72C88AE3E544F" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\ReportTypes.xsl" />
            </Component>
            <Component Id="cmp6F406E2A318204690F4272C8D82626BD" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="C02CAF50-EF40-4470-AA2E-E9DF28CD7AE3">
                <File Id="fil15A4EA882614E9B77A9FC09BFE0C5D09" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\RUS.xml" />
            </Component>
            <Component Id="cmpF4316162C5BE6B855DB3F4816570B8B9" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="BE34C2F3-9F45-4E3C-90C7-D5CE8C008224">
                <File Id="fil463BBE8AE7B1D62C7F14642CC4B1AB60" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\SVE.xml" />
            </Component>
            <Component Id="cmp18BFC30FDBAA0D0192B6AB3C72E4245A" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="3E27B830-DB0C-4BC1-B63F-ED5F93D65F2E">
                <File Id="filE86A637AA279DDCCB7CF2A0698E615BE" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\treeDiM.png" />
            </Component>
            <Component Id="cmp8E23A4ED7D20F7F411142338EFADCADA" Directory="dir1D92F9148DB2DF96092CA2FC8A82D322" Guid="DFB79734-31C8-41D9-80D7-6EA82447979F">
                <File Id="fil38CEF6833BC561A3BD680BBBD1014CF2" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ReportTemplates\YourLogoHere.png" />
            </Component>
            <Component Id="cmp4C0AA8B32B7AD6D293EC99A9A54EC9EB" Directory="dir4E0D8F33BCE029AC60ECF953B16FF093" Guid="9B216009-0B63-45A5-9F63-79CDC066BBA3">
                <File Id="filB17E6B7F503C8E8F79B7948517E35825" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ru\OfficePickers.resources.dll" />
            </Component>
            <Component Id="cmp4F0C6D846AD3926FCACC8BF1772C89B5" Directory="dir4E0D8F33BCE029AC60ECF953B16FF093" Guid="F38C04C5-59F2-4EB7-9EFA-70F0DA0C8BDE">
                <File Id="fil30D8E99B0B6F0F60E4DBE8E7141218F4" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ru\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp406CD2F0AE98DCDD17DA16CB527C06A9" Directory="dir4E0D8F33BCE029AC60ECF953B16FF093" Guid="D12D8267-9DFA-4E56-B7E3-AAA191621DD3">
                <File Id="fil40C1642F33E7190B248D502A9BF1E3EC" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ru\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmpF546FEC1E6681B45B1CEEF7D278FE267" Directory="dir4E0D8F33BCE029AC60ECF953B16FF093" Guid="EF1080EA-6340-4B25-AE83-208154BF7D87">
                <File Id="filBCBD8D939B97C54ED83AE506BF390013" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\ru\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmp6B59D31724E8F13ED4006BBA1E62246B" Directory="dir84C8A788551B0E152E3B315FA38A9074" Guid="588EFEDF-574E-4E40-B23D-43F34B89E70F">
                <File Id="fil0684659FF36C57970E7E8E0B1F4A4236" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\sv\OfficePickers.resources.dll" />
            </Component>
            <Component Id="cmp86F47C08FD9653E8725A303E8779EA0B" Directory="dir84C8A788551B0E152E3B315FA38A9074" Guid="4CE7EEA3-92D4-4203-896C-F3807F810843">
                <File Id="fil9ABB3EEEB2E8034F6C063DE8031A8E28" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\sv\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp650A3F2EFCDD6F78F7696A312B5B7110" Directory="dir84C8A788551B0E152E3B315FA38A9074" Guid="15FB8D47-797A-4C38-B9A5-FB02B61BFB86">
                <File Id="filB181709B504E3F741DB0A79A676326B6" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\sv\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmp4CBA0E14C7BED654E55183DFA5F38B06" Directory="dir84C8A788551B0E152E3B315FA38A9074" Guid="B9799125-EBF2-4232-AB80-75AD0D0BAC96">
                <File Id="fil2C866710AE84D65BF4CEEBC3FA2D4F89" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\sv\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp79987DC2EBE49C12F2085585517BE166" Directory="dir84C8A788551B0E152E3B315FA38A9074" Guid="B36E0D1B-1828-4945-854C-ABBAFBBB0A84">
                <File Id="fil0E854EB601B6AA150C6A5D8AD0D08677" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\sv\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpF4E2F4568F8ED6525696103BD5CE14A8" Directory="dir6882BECEB897DD8DB8AA872AF840D7AB" Guid="48EA4D08-841D-4086-94D9-1B4D8A9EB426">
                <File Id="filA413E8726D98049D53A77D8413DF2B38" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\tr\OfficePickers.resources.dll" />
            </Component>
            <Component Id="cmp3D659EF83A24139D2841F5A8827667F7" Directory="dir6882BECEB897DD8DB8AA872AF840D7AB" Guid="F929B65F-734D-4409-B830-78B6B8167545">
                <File Id="filE34620A0D7C0F1B72D56078176C28704" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\tr\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp45C6BAD71087F5AEFE82F444FF06A568" Directory="dir6882BECEB897DD8DB8AA872AF840D7AB" Guid="BD1C2D4B-B619-4ACA-B92B-3A92AC20C15F">
                <File Id="fil081250FA98B9BDD8757150FE940B81B2" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\tr\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp19567645FB986D7E26C93F533BBE6352" Directory="dir6882BECEB897DD8DB8AA872AF840D7AB" Guid="22AE6DB6-FF8E-4A1B-948B-14DE3233F6BF">
                <File Id="filBCD2EA4D926899D3D5AB39340126DE26" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\tr\treeDiM.StackBuilder.Graphics.resources.dll" />
            </Component>
            <Component Id="cmpDF3E6D872A40B6D5E303412648874DCC" Directory="dir6882BECEB897DD8DB8AA872AF840D7AB" Guid="319752F8-1FFC-4D6C-84FF-C0FB117D3F94">
                <File Id="fil5413ED7F037B2FEA9C18414E3D6C4C65" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\tr\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpF0F7202D466B0D26725C75F3363C890D" Directory="dir1B5911377ED2778D0E4A974030CF8220" Guid="B2095B71-95E3-4CFB-AED7-40B61916AD4E">
                <File Id="fil35EABDB162FFC998D2A0B7E788110871" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\zh\OfficePickers.resources.dll" />
            </Component>
            <Component Id="cmp5010378A8119D23ECD29CD5BF2969D1E" Directory="dir1B5911377ED2778D0E4A974030CF8220" Guid="FF0A76D4-999E-40AF-8C2B-7A46842731D5">
                <File Id="filA25349AFD21941EA17FE575ACB288D88" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\zh\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp8E46C9AD0C1B1EF5DB406035BD3D6DE4" Directory="dir1B5911377ED2778D0E4A974030CF8220" Guid="ECA973D1-8B6D-4DC0-89AD-A9CDE29EA36C">
                <File Id="filF23F4250A04088DD92EE78CB1A4BD430" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\zh\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmpD214476833BD578E3DB3F555A65F5F57" Directory="dir1B5911377ED2778D0E4A974030CF8220" Guid="0A7DBC0C-DC52-457E-B83F-A18CF893DE9D">
                <File Id="filBFF9348E28EA5FF3C7559C8C93F5D8EE" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\zh\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmpD993486F46A321476AD3DEBE820416A9" Directory="dir1B5911377ED2778D0E4A974030CF8220" Guid="8ADD92B2-E220-40E3-AB27-C79E4E3198CF">
                <File Id="fil5C3DB63F946300ED859BBA5FFFCB6690" KeyPath="yes" Source="$(var.ECTDesktopSourceDir)\zh\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>