<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="treeDiM.StackBuilder.ABYATExcelLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="treeDiM.StackBuilder.ABYATExcelLoader.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <treeDiM.StackBuilder.ABYATExcelLoader.Properties.Settings>
            <setting name="PalletLength" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="PalletWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PalletHeight" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PalletWeight" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="PalletFactorForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContainerLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContainerWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContainerHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PalletMaximumHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </treeDiM.StackBuilder.ABYATExcelLoader.Properties.Settings>
        <treeDiM.StackBuilder.ABYATExcelLoader.Settings>
            <setting name="PalletLength" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="PalletWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PalletHeight" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PalletWeight" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="ContainerLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContainerWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContainerHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PalletFactorForm" serializeAs="String">
                <value>0</value>
            </setting>
        </treeDiM.StackBuilder.ABYATExcelLoader.Settings>
    </userSettings>
</configuration>