<?xml version="1.0" encoding="UTF-8"?>
<?include $(sys.CURRENTDIR)..\treeDiM.stackBuilder.DesktopMSM\CommonConfig.wxi?>
<?include $(sys.CURRENTDIR)\Config.wxi?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyName" Name="$(var.ProductManufacturer)">
          <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)"/>
        </Directory>
      </Directory>
    </Directory>
	</Fragment>
</Wix>
