<?xml version="1.0" encoding="utf-8"?>
<?include $(sys.CURRENTDIR)\Config.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="Bin">
            <Directory Id="dir3DAF1F3855DF8E4EF05377267EE0A21B" Name="de" />
            <Directory Id="dirBEB7811C0F4F5E8800D9B5F2173A0D29" Name="es" />
            <Directory Id="dir4983ECC066568D9FE3AFF46F6E09A96A" Name="fr" />
            <Directory Id="dirE3ED0F5E4130C38DDF1B2E6B95EB203E" Name="it" />
            <Directory Id="dir629B675A22C5BFC78C78E29E0E8C8333" Name="ja" />
            <Directory Id="dirA015B78EAFA5DAA4967609C86BC50CE9" Name="nl" />
            <Directory Id="dirDC8972FDB7A6979DC90E463128BDC537" Name="pl" />
            <Directory Id="dirAAE03CA86DA9E71277E208D75C8BAF45" Name="pt" />
            <Directory Id="dir242869A86E48290C207AB6B79810D564" Name="ru" />
            <Directory Id="dir43BD441554463C3B5D5AB352AF032544" Name="sv" />
            <Directory Id="dirB9D67DED03073E4882BDF5FF6E3BD2D5" Name="tr" />
            <Directory Id="dirAB194A66626E06EACCA2A3B41EBF16D2" Name="zh" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="StackBuilderDesktopGroup">
            <Component Id="cmp415C9CD703FD7F9D30D658596BCC88BF" Directory="Bin" Guid="4A103D0A-726A-41D2-8BDD-AEECD408F1B5">
                <File Id="fil826DFC46A4DFD7D1165F31727E316096" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\AutoUpdater.NET.dll" />
            </Component>
            <Component Id="cmp652E91D3093A86B6FCC858A21B270EE9" Directory="Bin" Guid="68E70080-9EFB-455A-A4D5-3BA654B6923D">
                <File Id="fil64B2D526FC1CF9718DAD3A5875C55344" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\CrashReporter.NET.dll" />
            </Component>
            <Component Id="cmpA4A71A8051461189B49B83EAC8D8F392" Directory="Bin" Guid="335D86A5-8238-4123-80FF-EDC9FE9B5A53">
                <File Id="filDF8E1BBBD3745D15D3A072B526721E7C" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\Cureos.Measures.dll" />
            </Component>
            <Component Id="cmpADC3C3645F5EDBE1DD56399B1FFB8825" Directory="Bin" Guid="3E5B3D8A-036B-41CD-A325-7E3892CD5722">
                <File Id="filFA82A2F0397A55EAE257B75F754387CB" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ExcelDataReader.DataSet.dll" />
            </Component>
            <Component Id="cmpAFAE7F7E167A821AF0E9163405E8AE67" Directory="Bin" Guid="72A80898-B17D-4163-98FE-D0E63194C52D">
                <File Id="filF47135E2BBE487F695697C3A97417587" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ExcelDataReader.dll" />
            </Component>
            <Component Id="cmp6E99AF4115238724A496E908F7586397" Directory="Bin" Guid="00B7910A-B0D4-478A-96A6-F3908158B0DC">
                <File Id="filFC065BA403DB80171C68300F375569CA" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ICSharpCode.TextEditorEx.dll" />
            </Component>
            <Component Id="cmpA7C21D314D0F76615763C0E9C30159CC" Directory="Bin" Guid="373B7AAB-381E-4821-9E2D-CE5C6B5D6A71">
                <File Id="filF46542B070E412D188463F1E3DA0F25C" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\log4net.dll" />
            </Component>
            <Component Id="cmp18719ADFD8C55D13A48F9C4822DFF31F" Directory="Bin" Guid="B7A77FF3-2B0F-463E-90EA-FBE8E20D1442">
                <File Id="filA90A3C0BDDEA8E5FFCA56552CED2C089" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp3FEBB44DEFA53D03296DE99019861CE4" Directory="Bin" Guid="D17A9240-BCC5-4BDE-BA5F-77AD658BBBAE">
                <File Id="filE0CBDC594C06E39D3E62CA21B8A39D48" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\OfficePickers.dll" />
            </Component>
            <Component Id="cmpF8B76A7D4E62725038455D1C982125A4" Directory="Bin" Guid="79F72A02-EB1D-4E10-A14E-4552B01DD1DD">
                <File Id="fil03650C4E7A0CD04E8F76815E6DA77A92" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\OptionsLib.dll" />
            </Component>
            <Component Id="cmp49E2BD5039C7287E0B2CEFC1711CA72D" Directory="Bin" Guid="3DCC52A5-03B3-414C-B073-768E46610943">
                <File Id="filBD439BE5309ED48C44B1E30D9C085579" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\PropertyGridEx.dll" />
            </Component>
            <Component Id="cmp8F8C3D9F45DA9BD01C0639FF0B9FB2E3" Directory="Bin" Guid="0E24B4AD-98C3-4C03-AC25-5C7EE50066A4">
                <File Id="fil3976E56B5696CBC733090F98B1491BA4" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\Sharp3D.Boxologic.dll" />
            </Component>
            <Component Id="cmp15040D04823944F65C35E677C0D30119" Directory="Bin" Guid="9057C50A-F9F2-434C-ACAD-9F819143E6B4">
                <File Id="filC73418E914E698DB9CF9FA2A883A4B13" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\Sharp3D.Math.dll" />
            </Component>
            <Component Id="cmp03206F2D5331E241558853EED2524834" Directory="Bin" Guid="75FFB18C-3732-4D40-B76D-BF51B14621ED">
                <File Id="fil818F1764E235B43F925029C5B354DF8B" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\Sharp3DBinPacking.dll" />
            </Component>
            <Component Id="cmp713BB4900F60E8AF60CC2F6EE343C15E" Directory="Bin" Guid="DC1D5953-B916-42B3-98B8-C06399ED8746">
                <File Id="filDA14354874AA2A9F3A4EB54096FB1310" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\SourceGrid.dll" />
            </Component>
            <Component Id="cmpD28F8A6A2F087CB58FB9896CC4234B5A" Directory="Bin" Guid="5F1EBA5A-0BCA-4912-B8AA-4C49432768B9">
                <File Id="fil50A65B1B46C8BCDA931650912170EDE9" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\Syroot.KnownFolders.dll" />
            </Component>
            <Component Id="cmp4EE37277F2EA56B167927CAB6C18E4A9" Directory="Bin" Guid="26E515E8-FE2A-4959-BB8D-27AE150A6915">
                <File Id="fil690FDF297115453FAEE5CCC1055954CB" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\System.Collections.Immutable.dll" />
            </Component>
            <Component Id="cmpC03E25CDAF79DE95C613E018FBDB1411" Directory="Bin" Guid="534F07B9-00BA-463F-96AA-5A4C843F9E85">
                <File Id="filF4B4B034E989B9A61E5EB98AFF9B937C" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.Basics.dll" />
            </Component>
            <Component Id="cmp3B6B0A14418AF4A7639BAD3C1C811C56" Directory="Bin" Guid="E9988440-AF74-4B5C-978C-5F51D467B168">
                <File Id="filBFA9FC7031189FA5BA8589DECD7A9E6E" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.EdgeCrushTest.dll" />
            </Component>
            <Component Id="cmp84415621915C59162EE38C25D87E7948" Directory="Bin" Guid="CD5390F2-3478-493D-88A0-DD00974F4C0A">
                <File Id="fil78F8B3121FE123C8594DEC4270EB80A6" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.PLMPack.DBClient.dll" />
            </Component>
            <Component Id="cmp6FCBD4BF16F56925B5AE9D40056D12A7" Directory="Bin" Guid="4A9BEC7E-FDDE-4749-8DC4-D5A74C5CEF5C">
                <File Id="filC4907A4EBFB592F238F35C5CBB562018" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.StackBuilder.Basics.dll" />
            </Component>
            <Component Id="cmp6081EC2D0A997C4F90509320715412E7" Directory="Bin" Guid="BBB0132E-3F95-4CFD-A0B5-2AAA30B6F025">
                <File Id="filE4A045B237B21BD64EBF4E5A967BA722" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.StackBuilder.Desktop.application" />
            </Component>
            <Component Id="cmp3D9407AE17175AF8D2BCEEF1A666AABB" Directory="Bin" Guid="2A5BC42C-8F86-43F0-9F19-3E7A15FCAA61">
                <File Id="filD77EC4837C1D8DA31D0B96E1294FDFD6" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.StackBuilder.Desktop.exe" />
            </Component>
            <Component Id="cmp739BF02DFB50CB0DED11AEB71B245E70" Directory="Bin" Guid="7C4EF822-8F0D-4613-A69B-4BA9DDF575EE">
                <File Id="filFDD5AE225B265046881D7CB09914180B" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.StackBuilder.Desktop.exe.config" />
            </Component>
            <Component Id="cmp1F42E183569B5CAEBDEE154D29CB3F17" Directory="Bin" Guid="D8249A51-4C76-4792-BBD1-69B1371FEEA6">
                <File Id="fil870639A0CB0D3584B31F504CC54260ED" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.StackBuilder.Desktop.exe.manifest" />
            </Component>
            <Component Id="cmpC8E9623ACB740E7ED5557359AB3AAF6F" Directory="Bin" Guid="BDE75862-1DDC-4B4F-BF82-887A95393712">
                <File Id="filF573870AC2DBF6BB26BE24148DD73F58" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.StackBuilder.Engine.dll" />
            </Component>
            <Component Id="cmpBB196B845700F658FBB18314ED6A6568" Directory="Bin" Guid="9072CD95-AA84-4728-BC1F-006E2CE9205F">
                <File Id="filC4EEEB8E2635C5BF18910727FEDF483C" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.StackBuilder.ExcelReader.dll" />
            </Component>
            <Component Id="cmpE9966C8E3BE61812B02DB96E9B4B2FD1" Directory="Bin" Guid="A23E3581-4733-4030-BBD5-3F59974EE1FB">
                <File Id="fil388697E5BCD9E65B0791A40848B45A1A" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.StackBuilder.Exporters.dll" />
            </Component>
            <Component Id="cmpD53AE97123AE811385BA28424C367319" Directory="Bin" Guid="5C301DD8-0B59-4249-B0E4-9716F15E36EC">
                <File Id="filB246397344DCB3182DF6FD50FA3D9C05" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.StackBuilder.Graphics.dll" />
            </Component>
            <Component Id="cmpAF8ADC7A09B39D83538472E36A9C7D3E" Directory="Bin" Guid="116A4397-749F-4171-8840-63DEF5B76C82">
                <File Id="filB5A65D0B2A97757200ADA3B85B35B316" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.StackBuilder.Plugin.dll" />
            </Component>
            <Component Id="cmp580D55358DCAAC83D80ECD33184CB365" Directory="Bin" Guid="86748437-65B1-456B-A79A-031947225911">
                <File Id="fil3558F87EC83FEBFF696402CFD7E2E37D" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.StackBuilder.Reporting.dll" />
            </Component>
            <Component Id="cmp7E0C37FCE6CC2D6A4975FE9E4C4B3638" Directory="Bin" Guid="79A45B2C-2824-4A89-9B6F-2CF8984442BD">
                <File Id="filB5D26A0A47E250B9A8C5985CD7795EB1" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\treeDiM.UserControls.dll" />
            </Component>
            <Component Id="cmpB018726A98157CDA9093658EF57A17D6" Directory="Bin" Guid="F6322E7A-5491-4A9B-A486-599F7F534E3E">
                <File Id="filFC833E9E80C3DD3DD07FBA0EE4702959" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\WeifenLuo.WinFormsUI.Docking.dll" />
            </Component>
            <Component Id="cmp48A2FD52439EFB42CB20358F5B79F0A3" Directory="Bin" Guid="448EA008-EBAF-4F30-A306-62B7DDDEC95A">
                <File Id="fil3CBA41251C4D64A5FA1A9A16CBDEA1BD" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll" />
            </Component>
            <Component Id="cmpA1BDC495A93A57831D38EC1062FAA5AC" Directory="Bin" Guid="BAE7ADE4-5375-4C70-AC51-6AEA70B9E320">
                <File Id="fil4B0DB8F552A9326B6BFB60FFBB2A0400" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\wkhtmltox0.dll" />
            </Component>
            <Component Id="cmpE47EB0DC028CCDE5D4F40A4276A13800" Directory="Bin" Guid="CC27BC59-89D2-4507-B8EA-F8BADEF62FBC">
                <File Id="fil16DF960DFDD2C65B4C615FB15B92C502" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\WkHtmlToXSharp.dll" />
            </Component>
            <Component Id="cmp3ABC34E40F9BA88436FC6B5AFC7C91D8" Directory="Bin" Guid="CA940AFC-D1FC-4F2A-89A1-C1336D0F4F1F">
                <File Id="filF171636AD3CED76D142FB5C86E4DC72D" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\WkHtmlToXSharp.Win32.dll" />
            </Component>
            <Component Id="cmp66853E2EBE1E3819803E62F72DF58D9D" Directory="Bin" Guid="CF281EAC-4869-49AA-B35B-4F69CE3330D8">
                <File Id="fil511865289486B60922C7BDFE804E6FF6" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\WkHtmlToXSharp.Win64.dll" />
            </Component>
            <Component Id="cmp91A3DD7EE93BC954A73B5396B8227FF6" Directory="dir3DAF1F3855DF8E4EF05377267EE0A21B" Guid="B316F541-490E-4C22-B6C3-6FDB7D6072B3">
                <File Id="fil3927D5977008B99287779EC26EEB13C6" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\de\OptionsLib.resources.dll" />
            </Component>
            <Component Id="cmpE8AE88D4387C2504AF6FA55F817810A6" Directory="dir3DAF1F3855DF8E4EF05377267EE0A21B" Guid="1D8F38DD-7D97-40E2-AB12-7516E9516642">
                <File Id="fil4C0AE77B4C45FCDEB73B6EE9AD2A34BD" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\de\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmpB1798ED7AA470108AA3B7A53C6E68FCB" Directory="dir3DAF1F3855DF8E4EF05377267EE0A21B" Guid="E74F39A2-CF89-4007-8ECC-5CDE265AD503">
                <File Id="fil990E711ED78763894CC06C7DCA83C15D" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\de\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmpFA47277C06988D4F71825AE653FA0268" Directory="dir3DAF1F3855DF8E4EF05377267EE0A21B" Guid="1AB3AFD4-9E7F-4970-B59D-5FB3459B1EFC">
                <File Id="fil8584737E2EB7344CA786995F3F709C10" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\de\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmpE4331460F5AAAA75D968F9139FBBDC0D" Directory="dir3DAF1F3855DF8E4EF05377267EE0A21B" Guid="0E321D21-398F-4EB5-86F5-49CA5755813A">
                <File Id="fil8CFB458541DCA28DE59B14607C384DCD" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\de\treeDiM.StackBuilder.Desktop.resources.dll" />
            </Component>
            <Component Id="cmpA2AE6074DF3A6E4CDD57752BCBA75F81" Directory="dir3DAF1F3855DF8E4EF05377267EE0A21B" Guid="850349CB-2A41-46D0-BB07-FDA2D9CA04FE">
                <File Id="fil62605F45A534740FC0EFEF481E70713A" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\de\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpD8B2D873F69B837C530046DE795B2CFD" Directory="dir3DAF1F3855DF8E4EF05377267EE0A21B" Guid="77F7BBC0-7431-4A21-BB39-156AEA647EB5">
                <File Id="filD1E17110F0540BFC834EAFE8AE668B53" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\de\treeDiM.UserControls.resources.dll" />
            </Component>
            <Component Id="cmp7ADCC4FF755E09BD52A3039F5A092713" Directory="dirBEB7811C0F4F5E8800D9B5F2173A0D29" Guid="BBCBFC4E-D3EE-45BC-A582-BAE7E98EBB54">
                <File Id="fil6FD4CB87BDE2324B2537A53FEB830A7E" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\es\OptionsLib.resources.dll" />
            </Component>
            <Component Id="cmp6AFE33DC926A47F2EE30286948C86DFE" Directory="dirBEB7811C0F4F5E8800D9B5F2173A0D29" Guid="CA0B8E54-6392-4987-ADAD-A9C5319262E9">
                <File Id="fil6071C9E48AE011C644E2CEED20B9E626" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\es\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp4AA89DB3C94663445C5D813703F52BAB" Directory="dirBEB7811C0F4F5E8800D9B5F2173A0D29" Guid="22FD7133-AE61-463C-B702-42E5E2BA2EBE">
                <File Id="filDC1383B93868F9C602EE886122233F86" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\es\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmp96FDF09E87CBB41D35A187AD3083B128" Directory="dirBEB7811C0F4F5E8800D9B5F2173A0D29" Guid="9B33A426-06F5-4063-A7F1-55965225B884">
                <File Id="fil1336EE54370E49452593BDD758CBD25D" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\es\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp18B6E557A89EA80FE33A8895FA16FD77" Directory="dirBEB7811C0F4F5E8800D9B5F2173A0D29" Guid="FA5E04FA-A770-40F3-9289-8C603F796059">
                <File Id="filC0E981D28A6757486A2C3C0CF426B316" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\es\treeDiM.StackBuilder.Desktop.resources.dll" />
            </Component>
            <Component Id="cmpD80A8EF81EB2D039B34378E2E7AEB3BC" Directory="dirBEB7811C0F4F5E8800D9B5F2173A0D29" Guid="C916DFD6-9D17-48DB-B88A-90F299BF53A9">
                <File Id="fil0E8C29B5A39F6F4A34FCCC535498FC87" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\es\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmp57B858337BAEB18A5DDDE1618D79D83B" Directory="dirBEB7811C0F4F5E8800D9B5F2173A0D29" Guid="840DBA7C-15D2-41CA-9DAE-6FBFAF9012E2">
                <File Id="filE2B9D330845651EE0233F2BC3B04F914" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\es\treeDiM.UserControls.resources.dll" />
            </Component>
            <Component Id="cmp2D6A4BDBE2F9695209E810EC565EC54F" Directory="dir4983ECC066568D9FE3AFF46F6E09A96A" Guid="8942B799-EBCE-4429-9FB7-6D473580A15C">
                <File Id="fil2FE0C44A93EC1604D5410A61DB9B49F8" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\fr\BuildListDLL.bat" />
            </Component>
            <Component Id="cmp73E53D002F4A7F8F1104CFE8A7C7414A" Directory="dir4983ECC066568D9FE3AFF46F6E09A96A" Guid="5ECE340B-A25C-4C5A-9AF0-11202E4A1B5C">
                <File Id="fil1DE88A7CAFDC70F45A3815557599FFB4" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\fr\ListDLL.txt" />
            </Component>
            <Component Id="cmpD63E17C068DDE5903D1638F85CA4F4FE" Directory="dir4983ECC066568D9FE3AFF46F6E09A96A" Guid="8DEC7E60-76D6-43A4-9A4A-ECD5EA814E3D">
                <File Id="fil3461B3A71E2ADFFC2DD5622B0F162081" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\fr\OptionsLib.resources.dll" />
            </Component>
            <Component Id="cmp8EE594DA466E4B890B1B0BD65E5DA8B4" Directory="dir4983ECC066568D9FE3AFF46F6E09A96A" Guid="C86D50F6-5EEA-495D-8068-0F8D61043E9E">
                <File Id="fil99EE8C758E51BF76096A5FEE0E476B4F" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\fr\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp12AD800B59184268E7A4E3984D2189A8" Directory="dir4983ECC066568D9FE3AFF46F6E09A96A" Guid="D9037017-3CB8-43F3-A122-59FC34F2ECF4">
                <File Id="fil22382BFF6D6792D318A4332B85C1C23A" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\fr\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmpC525DC0294789F0496FD115096F59178" Directory="dir4983ECC066568D9FE3AFF46F6E09A96A" Guid="4E86D032-0095-463F-962B-0860B83112D4">
                <File Id="filB8E3826DB7CE86AA78303C6E71565ECB" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\fr\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmpB7A4A6A3B72B7DF6FFF7082969515B3C" Directory="dir4983ECC066568D9FE3AFF46F6E09A96A" Guid="9B5B14A9-7C62-44F0-B444-70B3B592FCD7">
                <File Id="filE9BDBA620E1D58A05A48E88BE91FFD86" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\fr\treeDiM.StackBuilder.Desktop.resources.dll" />
            </Component>
            <Component Id="cmpA6BACE285CF504754F53AA5F705C61F2" Directory="dir4983ECC066568D9FE3AFF46F6E09A96A" Guid="12FB029B-4564-4172-B871-1EAE2F810702">
                <File Id="filE7F40E06ECBF7769DF034675D2E718A7" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\fr\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmp751FC808F0FA08FCCB65D91CA3CF6056" Directory="dir4983ECC066568D9FE3AFF46F6E09A96A" Guid="7F57B88E-3440-421C-ADC8-2BFDEE7A0F5A">
                <File Id="filF43A69259A1CC6946E0B091E2DB2D11E" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\fr\treeDiM.UserControls.resources.dll" />
            </Component>
            <Component Id="cmp30CEE17AD07A098185655F0974A44FC3" Directory="dirE3ED0F5E4130C38DDF1B2E6B95EB203E" Guid="AF9F0549-ED4F-4EB2-8964-3076AC5B86EE">
                <File Id="fil49F881B34B9EC942875D2A9D7CD991A1" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\it\OptionsLib.resources.dll" />
            </Component>
            <Component Id="cmp8DB9E6BBD1CA3F041ACA09FFF9693B57" Directory="dirE3ED0F5E4130C38DDF1B2E6B95EB203E" Guid="8D23A550-C2CD-4214-91A5-7CC6E1DF3905">
                <File Id="filE3A1856200F13539E19CB196B2747FBD" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\it\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp232F76D5C0286D99D669B7FF3B60CB86" Directory="dirE3ED0F5E4130C38DDF1B2E6B95EB203E" Guid="A706932F-F385-4618-9D80-FF1000A5D905">
                <File Id="filFE60DF1C3AD3B084F015CE445EAADB3D" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\it\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmp275B8C419A9D4AC037DE46B8B552929B" Directory="dirE3ED0F5E4130C38DDF1B2E6B95EB203E" Guid="7190ADB1-7F89-4D31-B767-1CEDED07407D">
                <File Id="fil025AAF18CA30D10DD5C89655E4DB19A4" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\it\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp224A8AD822FBFEC8D4F6C6B8F765B550" Directory="dirE3ED0F5E4130C38DDF1B2E6B95EB203E" Guid="C299867E-F88E-4963-92E1-4355C66129D5">
                <File Id="fil9877EA47EF342A744DF331427B4218DB" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\it\treeDiM.StackBuilder.Desktop.resources.dll" />
            </Component>
            <Component Id="cmpFE117A6FBF3F3CF78C7EAF8A15709252" Directory="dirE3ED0F5E4130C38DDF1B2E6B95EB203E" Guid="1CF4DCFA-FAD7-4AD4-B0D6-C4780A299573">
                <File Id="fil1DD5259DFF46535FDB2EB14A1D5BBFA7" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\it\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpC57611C68CE0086FCFADD856A1774716" Directory="dirE3ED0F5E4130C38DDF1B2E6B95EB203E" Guid="0D2F1405-7A5A-411B-BB00-2FA2B5E5BACB">
                <File Id="filBC5DEF73D62D219E2AD6FDEBA3DA197A" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\it\treeDiM.UserControls.resources.dll" />
            </Component>
            <Component Id="cmpFF2E57D7F70F5901E8BAFB3535E32B87" Directory="dir629B675A22C5BFC78C78E29E0E8C8333" Guid="E4751B8C-8E02-405E-A142-729340BB596A">
                <File Id="fil1E88A7CF4F19E38F44AA362F439A94E7" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ja\OptionsLib.resources.dll" />
            </Component>
            <Component Id="cmpABBC4636E755027FABE26F3AC4A2782C" Directory="dir629B675A22C5BFC78C78E29E0E8C8333" Guid="51BA2428-90D5-4C05-8F3E-4E6ABCCBE2E6">
                <File Id="fil7D20A1F09EE9F86A559698567EA4BF60" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ja\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmpFB1340FD5C685AC5A88F33509DCBB27F" Directory="dir629B675A22C5BFC78C78E29E0E8C8333" Guid="448E3356-EA30-48FA-9C87-14240A1BEEBA">
                <File Id="fil54A10099549105444C3326D7F23EE81E" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ja\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmp41E17470F2EBA1B580D0B677F579E3EE" Directory="dir629B675A22C5BFC78C78E29E0E8C8333" Guid="244ED471-29D0-4B7E-B68E-687149383D11">
                <File Id="fil40CD4FD30592B49D8A0E2237CBA7812A" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ja\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmpD0EF3323E8744C6D18B27E27B8D23CAA" Directory="dir629B675A22C5BFC78C78E29E0E8C8333" Guid="6C717113-0A94-4729-A49F-AB00CD247A4C">
                <File Id="filBA5B11912EB4A9F44B6EFC7D18AB7E50" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ja\treeDiM.StackBuilder.Desktop.resources.dll" />
            </Component>
            <Component Id="cmp50E8CEA9DDAA3B20044336CDA3F085E9" Directory="dir629B675A22C5BFC78C78E29E0E8C8333" Guid="0E213B3C-C144-48A4-9EBE-722EEF23B0B9">
                <File Id="filAB3994576537B3EAF845D2BA851BFE5A" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ja\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmp47670606E3C3564CF13B89AFC692C9CE" Directory="dir629B675A22C5BFC78C78E29E0E8C8333" Guid="82F4F6C4-CCC3-496E-BFF9-76D046315F6A">
                <File Id="filB37C2435CD4756DBAA72571D37C6CF25" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ja\treeDiM.UserControls.resources.dll" />
            </Component>
            <Component Id="cmp69E4C9720F41ACF4919A510F63C5B227" Directory="dirA015B78EAFA5DAA4967609C86BC50CE9" Guid="C5F6B9C0-3E33-4DA2-BF6F-593C49C75798">
                <File Id="fil805C94502974B8FC2057D98D8804A3B2" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\nl\OptionsLib.resources.dll" />
            </Component>
            <Component Id="cmpEAC36652D9079120F4F0B7796D9D1BFF" Directory="dirA015B78EAFA5DAA4967609C86BC50CE9" Guid="D573CFE8-4AD3-45AE-ABC3-EF59C4A20584">
                <File Id="fil874D18B2CB0EE4E1EE83D5A12E1D4F07" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\nl\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp7FEF629658CDB5F3CD1DFDCF9E769F66" Directory="dirA015B78EAFA5DAA4967609C86BC50CE9" Guid="378C02DA-753F-4065-A464-5E5DA984AD78">
                <File Id="fil2E748DEB89D2EE097086D98AF6FDD804" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\nl\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp4D8CBF176502CBAC0F0F43EAFF37929A" Directory="dirA015B78EAFA5DAA4967609C86BC50CE9" Guid="C62A652A-D881-45F4-AA40-091BE22BACFF">
                <File Id="filC0F32CFFBD9DE3ABB4E242C78338B55E" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\nl\treeDiM.StackBuilder.Desktop.resources.dll" />
            </Component>
            <Component Id="cmp7B08E717A73A77E0554BADD57D57FFD2" Directory="dirA015B78EAFA5DAA4967609C86BC50CE9" Guid="E819500C-D77E-4639-9D60-E535DDEBA32F">
                <File Id="filAD766F6EBE4B2705BA1D3319F7EE5ABA" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\nl\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmp60CF0938E8371C9657F527121B243776" Directory="dirA015B78EAFA5DAA4967609C86BC50CE9" Guid="CC26830C-D2ED-4C0A-B034-E958A5F42C23">
                <File Id="fil46B7DB647BC70F9BE2B42F082039131B" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\nl\treeDiM.UserControls.resources.dll" />
            </Component>
            <Component Id="cmp55AE60918F1AB90795B1EBAD898A66AA" Directory="dirDC8972FDB7A6979DC90E463128BDC537" Guid="6D047E39-5941-4C0C-A55F-5E9D06AC034B">
                <File Id="fil4C9BE240ECDFDB461CECD9A6B9017D2B" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pl\OptionsLib.resources.dll" />
            </Component>
            <Component Id="cmp8426909B8E626AFB438FF6C5F0D61E49" Directory="dirDC8972FDB7A6979DC90E463128BDC537" Guid="D6BA1267-1EFB-4439-BF2C-20FF37495BEB">
                <File Id="filB3F1B715B52EF07059992DE5E6A452E9" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pl\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp5C1DBAA08F001983645DFD58D127776D" Directory="dirDC8972FDB7A6979DC90E463128BDC537" Guid="816625CC-DC55-4004-BC5A-1F4E2B319DAF">
                <File Id="filC6F4FBA70650E062683A97426C71E09C" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pl\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmpEC293FBD44AD4774E9588E9AD893CE2F" Directory="dirDC8972FDB7A6979DC90E463128BDC537" Guid="FE9410A7-D56C-40C4-884A-844B4AB406FD">
                <File Id="fil347A7488269150D26D74D8E0296EA874" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pl\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp45A27068B4C62B5FC1545BB0534B6FCB" Directory="dirDC8972FDB7A6979DC90E463128BDC537" Guid="E5CE0A4F-ADF4-48EF-943B-1D8C1F850E38">
                <File Id="filD2C1251ED00770FF730ECAFB0E3EC717" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pl\treeDiM.StackBuilder.Desktop.resources.dll" />
            </Component>
            <Component Id="cmpBFC468E0AD24FB4F8F5FCB6961DEC1DF" Directory="dirDC8972FDB7A6979DC90E463128BDC537" Guid="99BD8EB4-8ABB-4D9C-A44A-8E8351F16830">
                <File Id="filD709B104BB0251953DA29169A7AB9757" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pl\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpE227F95851E8539BBB9CBAB37F30C437" Directory="dirDC8972FDB7A6979DC90E463128BDC537" Guid="4AF7058E-0D60-4FAE-96A4-98CF850C006B">
                <File Id="filF13DF7C6DAC12F01AF921E3BCA8ACB92" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pl\treeDiM.UserControls.resources.dll" />
            </Component>
            <Component Id="cmpD3B32006BA2DBF82BB6CEA50EF458790" Directory="dirAAE03CA86DA9E71277E208D75C8BAF45" Guid="A3D84104-773F-4A96-BDE6-B9BB231CB77C">
                <File Id="fil845020446926A5401A71E4E7131F9DA5" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pt\OfficePickers.resources.dll" />
            </Component>
            <Component Id="cmp4B15B18C79F24BF1F2E80325FCF1A0E2" Directory="dirAAE03CA86DA9E71277E208D75C8BAF45" Guid="FA921300-3E75-4771-B3A1-747E4B5B309B">
                <File Id="fil141267F6CB9DE360C3E3A22FC5B38D78" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pt\OptionsLib.resources.dll" />
            </Component>
            <Component Id="cmp312D74C8FFD0180C5FEB7D48F3A60108" Directory="dirAAE03CA86DA9E71277E208D75C8BAF45" Guid="59B88FC9-221F-4B7C-8CE0-ECD12129F300">
                <File Id="fil52EE811E7ADF91AA3A09853559803FEA" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pt\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp40C5F6D95CEB6D0895A4F809A932FEA8" Directory="dirAAE03CA86DA9E71277E208D75C8BAF45" Guid="2ABA28C9-2E72-455C-8AEC-2A723E93338F">
                <File Id="fil956E4845D1FD9DB048D713D81459463E" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pt\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp51F386E0F3BA1E7092191FFA90B6EA00" Directory="dirAAE03CA86DA9E71277E208D75C8BAF45" Guid="C2FFCCE9-DB6B-45D4-82BE-5CE673CACECE">
                <File Id="filF37CD1F461B4EA2D0726AD315E993169" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pt\treeDiM.StackBuilder.Desktop.resources.dll" />
            </Component>
            <Component Id="cmpD7DD32852D5B66941F076BCA4403C2B9" Directory="dirAAE03CA86DA9E71277E208D75C8BAF45" Guid="80D92D33-C895-4C3A-AFD2-AECD91F6F716">
                <File Id="filE3DAF8E36A53C3FFDB1A963C608996F4" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pt\treeDiM.StackBuilder.Graphics.resources.dll" />
            </Component>
            <Component Id="cmp992F8271B80EF0757576FF26C4958F6E" Directory="dirAAE03CA86DA9E71277E208D75C8BAF45" Guid="E31E0C41-866D-4261-B664-A54819C44BD9">
                <File Id="filCEB0853E251C229DE051ECC88A88D272" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pt\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpA0D1885CC64706B7A897C07DDBD31799" Directory="dirAAE03CA86DA9E71277E208D75C8BAF45" Guid="8C165FE4-8D5D-4C01-8E32-16E31006FEEB">
                <File Id="filEF45686790E8FCD24408348D7C013D19" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\pt\treeDiM.UserControls.resources.dll" />
            </Component>
            <Component Id="cmp634A2E727AE1268D9304288E0E4E3620" Directory="dir242869A86E48290C207AB6B79810D564" Guid="72F89C4C-0EC0-4EE5-A15C-9240E4FE9825">
                <File Id="filDD2CA8BF89785977C8F104B17E039D4F" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ru\OfficePickers.resources.dll" />
            </Component>
            <Component Id="cmpF59FE56C69613EDE7CCBAC6A9B8A5B77" Directory="dir242869A86E48290C207AB6B79810D564" Guid="A00A0EF6-F175-44B9-9282-AF40975674F3">
                <File Id="fil10DE7FB6B561A87E51890E584E7FBE44" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ru\OptionsLib.resources.dll" />
            </Component>
            <Component Id="cmp002060ED918523E142797D9FBBAD1826" Directory="dir242869A86E48290C207AB6B79810D564" Guid="C6F843E2-E3E9-4605-8E89-C5554FC6CC8E">
                <File Id="fil939CA6B12702C98D2F582C2B3CD4D8F4" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ru\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp5349D41BB05A20659DFE536A9EC20F96" Directory="dir242869A86E48290C207AB6B79810D564" Guid="C09AE835-9C97-4391-8319-E183BCC0683D">
                <File Id="fil31E7318F00D7C00540583915A06F4DF6" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ru\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp1478F507B85360EDB5EE1390F8A058CA" Directory="dir242869A86E48290C207AB6B79810D564" Guid="AA2FA5CF-1ABA-4024-AF54-27DB8B5C97D0">
                <File Id="filA3998BD153BC337110A5CC377F69D11B" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ru\treeDiM.StackBuilder.Desktop.resources.dll" />
            </Component>
            <Component Id="cmpDE4AAC4F5ADC926259FE7421B0854464" Directory="dir242869A86E48290C207AB6B79810D564" Guid="9CADF967-D1D4-462D-89F7-B3DE33E7E930">
                <File Id="fil6F097ED84061C91FB23EB8C85D5C1F5E" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ru\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmp3B9EB82EAD3C3F77B41A57C5A4228728" Directory="dir242869A86E48290C207AB6B79810D564" Guid="3C80A51D-94FF-40A4-BE17-728C361BFDEB">
                <File Id="filDA86B6F82C9CABFEBF1A4920F1748BCA" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\ru\treeDiM.UserControls.resources.dll" />
            </Component>
            <Component Id="cmpDA033AEB3CD467D472358A79FC99A7ED" Directory="dir43BD441554463C3B5D5AB352AF032544" Guid="FBD85B0D-620F-4AB3-A731-B55A9E3ECF4F">
                <File Id="fil2716D6D7771963BBB82987DEB02C0D63" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\sv\OfficePickers.resources.dll" />
            </Component>
            <Component Id="cmp52BAF71CC07F463D040ED91128999704" Directory="dir43BD441554463C3B5D5AB352AF032544" Guid="02EFF1E8-2B83-4180-95BD-FD630353FF0E">
                <File Id="fil44CB6FAC04EC858A10314AA7F31391AF" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\sv\OptionsLib.resources.dll" />
            </Component>
            <Component Id="cmp327B782E51356E915DAC52B052392CF1" Directory="dir43BD441554463C3B5D5AB352AF032544" Guid="688BADD2-8137-48A1-8276-3C9726490E9D">
                <File Id="fil2F21072F4061AE6B3A46AB2EC3752845" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\sv\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp70142E53A737AAC7EE0DC452BA1F755E" Directory="dir43BD441554463C3B5D5AB352AF032544" Guid="14B8B4B3-7510-4FC0-8109-D9E9CFFC9867">
                <File Id="filD3B7796B9DD0FF21DEB190F37BCBE3C1" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\sv\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmpB38934A42DE2152E94F73978561887B7" Directory="dir43BD441554463C3B5D5AB352AF032544" Guid="26C1BE6D-9417-408E-90DE-DBCF794D4E84">
                <File Id="fil57C0B68290C03F0B9B45EBC7D2C9BB58" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\sv\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmpF3E3AE8C0FFF1CCE7740F42B9D6CF7E6" Directory="dir43BD441554463C3B5D5AB352AF032544" Guid="58D0D855-9D2C-4757-8636-DC9850E0FD30">
                <File Id="fil248894CE103704565B68C232BCE8CB8C" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\sv\treeDiM.StackBuilder.Desktop.resources.dll" />
            </Component>
            <Component Id="cmpE20089F7A6816154383A1BF9ECE5AFE5" Directory="dir43BD441554463C3B5D5AB352AF032544" Guid="651F499F-F71C-4C20-802D-BEDDB412919A">
                <File Id="fil33B1EEF83B095BC6C3A2364288E1916C" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\sv\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpA0728761A9A908EA59D60E7616D0B986" Directory="dir43BD441554463C3B5D5AB352AF032544" Guid="1ABD4230-B6D6-4115-A69F-7ECFB46BF062">
                <File Id="filEE230F24A74629B454E7E84FD7730A19" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\sv\treeDiM.UserControls.resources.dll" />
            </Component>
            <Component Id="cmpC86D5AC8EB176A3715303EDAEA3668C2" Directory="dirB9D67DED03073E4882BDF5FF6E3BD2D5" Guid="D8AD92FE-48F2-445F-B46B-502EA0CF9F6B">
                <File Id="filAFD7B10235C70A85724F2BC87F32AB36" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\tr\OfficePickers.resources.dll" />
            </Component>
            <Component Id="cmpD76EA0C0B34CBF445970866B64E24A24" Directory="dirB9D67DED03073E4882BDF5FF6E3BD2D5" Guid="C96D526B-2E85-4201-9D15-2DA9F09DA3C3">
                <File Id="fil6BA233C8D163CA476241814AF3A1DF2D" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\tr\OptionsLib.resources.dll" />
            </Component>
            <Component Id="cmp1397E0557F894C7A55D34386525F28BD" Directory="dirB9D67DED03073E4882BDF5FF6E3BD2D5" Guid="9F5481D8-0EE0-480A-B991-3AD0F4DE3231">
                <File Id="fil0926FD928A4A473E5CCC3E3DB5276A3B" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\tr\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmpC98BFB1414565962DEBA9D241855A12B" Directory="dirB9D67DED03073E4882BDF5FF6E3BD2D5" Guid="2993D625-7ACE-46A4-AFC5-AD10A62666A8">
                <File Id="fil64CAD91276E1267856CF170C3CA44134" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\tr\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmpA0849AB91E83327EBD50BD1663EEB387" Directory="dirB9D67DED03073E4882BDF5FF6E3BD2D5" Guid="6A9FADBF-5D9C-4090-8D3B-4BD610FFEF11">
                <File Id="fil9A20FE793495919B4EF0C3318D605709" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\tr\treeDiM.StackBuilder.Desktop.resources.dll" />
            </Component>
            <Component Id="cmp4DAA6E944FD68426CF7457DF227841BA" Directory="dirB9D67DED03073E4882BDF5FF6E3BD2D5" Guid="75025242-6009-4185-8606-150C49FD7C09">
                <File Id="fil580D8BC79632268630181D9F36BA4FAF" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\tr\treeDiM.StackBuilder.Graphics.resources.dll" />
            </Component>
            <Component Id="cmpBBC51D2ED070772B82CB63652A6D94BF" Directory="dirB9D67DED03073E4882BDF5FF6E3BD2D5" Guid="4414CAB0-F400-4091-9DF4-D9CA67382125">
                <File Id="fil2C563D0C076490652F9D6B56D8865028" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\tr\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpB99F55AB5014F788E03998290D3C77C8" Directory="dirB9D67DED03073E4882BDF5FF6E3BD2D5" Guid="04B4D9FA-8461-4B5A-92E2-E10162179995">
                <File Id="filC3DD8DCC4C795B3BA2EC822879A8D833" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\tr\treeDiM.UserControls.resources.dll" />
            </Component>
            <Component Id="cmp6B19CBD4BBB3D3DC467E592473AE7CD3" Directory="dirAB194A66626E06EACCA2A3B41EBF16D2" Guid="5973638C-2980-41C5-9CA9-364C05B05BFB">
                <File Id="filC502C024D4137151F247C3B49D15293E" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\zh\OfficePickers.resources.dll" />
            </Component>
            <Component Id="cmpC3EADB8DF11920A60721833CB01C4355" Directory="dirAB194A66626E06EACCA2A3B41EBF16D2" Guid="05425742-23EF-419C-8DAB-0C8448B5847E">
                <File Id="fil6944709B24CDBAB6314CA96AFD62E517" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\zh\OptionsLib.resources.dll" />
            </Component>
            <Component Id="cmp173077C3AB6267F25F639EF189006750" Directory="dirAB194A66626E06EACCA2A3B41EBF16D2" Guid="436E4BD5-EBCD-418B-A2FD-8EEA2F56F1A2">
                <File Id="filEE4741B1ABC200A4BC31EF95C215E5FB" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\zh\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp32152B0EE02B485DAEB7E9785CB7E3EF" Directory="dirAB194A66626E06EACCA2A3B41EBF16D2" Guid="B6ED8FA9-AAAE-4D62-8EEC-A3A93C55564F">
                <File Id="fil30A69DE7AA46C5917D321869EF560602" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\zh\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmpF187782F2E2F9BF20177D016B0732724" Directory="dirAB194A66626E06EACCA2A3B41EBF16D2" Guid="2F9B7577-E153-4AAF-9C27-9A31F8A02AF7">
                <File Id="filFFDA90A11A3D5D4F8A42545440D9D97F" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\zh\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmp2EDEB72C2A4CE95E1BF2FBD3E19F3CB5" Directory="dirAB194A66626E06EACCA2A3B41EBF16D2" Guid="57F343D2-E30D-481A-9F79-8DEB915A1DA5">
                <File Id="fil7DF489F12DEB48BA2FC38D09A4787BA5" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\zh\treeDiM.StackBuilder.Desktop.resources.dll" />
            </Component>
            <Component Id="cmp5AD1DD8554BD7BE0E9B410B4A3B8E42E" Directory="dirAB194A66626E06EACCA2A3B41EBF16D2" Guid="7A903552-3FF0-44C6-80EB-96BE51116188">
                <File Id="fil3E70AB1D010E61C0C3F6790598030FA4" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\zh\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpD0C3AE650875B75CA094FCBBE1188A98" Directory="dirAB194A66626E06EACCA2A3B41EBF16D2" Guid="B83D10B5-8BC6-4803-ABFE-6BB8EF4F06D2">
                <File Id="filD2162473E2B539F08237C7319F400EE4" KeyPath="yes" Source="$(var.StackBuilderDesktopSourceDir)\zh\treeDiM.UserControls.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>