<?xml version="1.0" encoding="UTF-8"?>
<?include $(sys.CURRENTDIR)\Config.wxi?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Product Id="*" Name="treeDiM.StackBuilder.WCFServiceInstaller"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="38aeffc2-061f-43e4-9291-93fa30efe5c8">
    <Package Id="*"
             InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             ReadOnly="yes"
             ShortNames="no"
             />
    <MediaTemplate EmbedCab="yes"/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Feature Id="ProductFeature"
             Title="treeDiM.StackBuilder.WCFAppServ"
             Level="1">
      <ComponentGroupRef Id="ServiceDefinition" />
      <ComponentGroupRef Id="ServiceBinaries"/>
      <ComponentGroupRef Id="WebIISConfiguration"/>
      <ComponentGroupRef Id="SampleClientBinaries"/>
      <ComponentGroupRef Id="SampleClientShortcut"/>
    </Feature>

    <Property Id="VIRTUAL_DIR_VAL" Value="StackBuilderWebApp" />
    <!-- check whether IIS is installed or not -->
    <Property Id="IIS_MAJOR_VERSION">
      <RegistrySearch Id="CheckIISVersion" Root="HKLM" Key="SOFTWARE\Microsoft\InetStp" Name="MajorVersion" Type="raw"/>
    </Property>
    <Condition Message="IIS must be installed">Installed OR IIS_MAJOR_VERSION</Condition>
    <!-- check whether IIS is installed or not -->
  </Product>
</Wix>
