<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStackBuilder" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://51.144.242.159/StackBuilder.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IStackBuilder" contract="SB_SR.IStackBuilder"
        name="BasicHttpBinding_IStackBuilder" />
    </client>
  </system.serviceModel>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
</configuration>
