<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStackBuilder" />
                <binding name="BasicHttpBinding_IStackBuilder1" />
                <binding name="BasicHttpBinding_IStackBuilder2" />
                <binding name="BasicHttpBinding_IStackBuilder3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:17399/StackBuilderServ.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStackBuilder"
                contract="WCF_SR.IStackBuilder" name="BasicHttpBinding_IStackBuilder" />
            <endpoint address="http://localhost:17399/StackBuilderServ.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStackBuilder1"
                contract="WCF_SR.IStackBuilder" name="BasicHttpBinding_IStackBuilder1" />
            <endpoint address="http://localhost:17399/StackBuilderServ.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStackBuilder2"
                contract="WCF_SR.IStackBuilder" name="BasicHttpBinding_IStackBuilder2" />
            <endpoint address="http://localhost:17399/StackBuilderServ.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStackBuilder3"
                contract="SB_SR.IStackBuilder" name="BasicHttpBinding_IStackBuilder3" />
        </client>
    </system.serviceModel>
</configuration>