<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net472" />
  <package id="NuGet.Build.Tasks.Pack" version="5.6.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sharp3D.Math" version="1.0.3" targetFramework="net472" />
</packages>