<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- configuration sections -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="treeDiM.StackBuilder.ExcelListEvaluator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- logging -->
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RichTextBoxAppender" />
    </root>
    <appender name="RichTextBoxAppender" type="log4net.Appender.RichTextBoxAppender">
      <threshold value="DEBUG" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%timestamp [%thread] %-5level %logger – %message %newline" />
      </layout>
      <mapping>
        <level value="DEBUG" />
        <textColorName value="DarkGreen" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <textColorName value="ControlText" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <textColorName value="Blue" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <textColorName value="Red" />
        <bold value="true" />
        <pointSize value="10" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <textColorName value="Black" />
        <backColorName value="Red" />
        <bold value="true" />
        <pointSize value="12" />
        <fontFamilyName value="Lucida Console" />
      </mapping>
    </appender>
    <system.diagnostics>
      <trace autoflush="false" indentsize="3" />
    </system.diagnostics>
  </log4net>
  <userSettings>
    <treeDiM.StackBuilder.ExcelListEvaluator.Properties.Settings>
      <setting name="PalletLength" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="PalletWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="PalletHeight" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="PalletWeight" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="PalletTypeName" serializeAs="String">
        <value>EUR2</value>
      </setting>
      <setting name="ContainerLength" serializeAs="String">
        <value>13700</value>
      </setting>
      <setting name="ContainerWidth" serializeAs="String">
        <value>2480</value>
      </setting>
      <setting name="ContainerHeight" serializeAs="String">
        <value>2650</value>
      </setting>
      <setting name="PalletMaximumHeight" serializeAs="String">
        <value>1800</value>
      </setting>
      <setting name="InputFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="Mode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OpenGeneratedFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GenerateImage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LargestDimMinimum" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="StackCountMax" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ImageFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="AllowOnlyZOrientation" serializeAs="String">
        <value>False</value>
      </setting>
    </treeDiM.StackBuilder.ExcelListEvaluator.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ExcelDataReader" publicKeyToken="93517dbe6a4012fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>