<?xml version="1.0" encoding="utf-8"?>
<?include $(sys.CURRENTDIR)\Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="Bin">
            <Directory Id="dir9AA3BF36EA892601E370D102B541D66A" Name="fr" />
            <Directory Id="dirDC80E2C98BFA6A946C23A92CDA674B13" Name="it" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ALCEDesktopGroup">
            <Component Id="cmp80CB7C7237485A2293C7C19E170CA600" Directory="Bin" Guid="D3FA62FB-7BB4-4D8E-BAAD-B15028C56956">
                <File Id="fil7C4E6116A9A43FC50DDF02544F8ACF0E" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\AutoUpdater.NET.dll" />
            </Component>
            <Component Id="cmp5D37549496D250FF6BC1BE06330C2F86" Directory="Bin" Guid="980CF304-289C-4AFC-AF30-7449E735F5E0">
                <File Id="fil016C99FC65C1F24E8D7A26A4476D694D" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\CrashReporter.NET.dll" />
            </Component>
            <Component Id="cmpB5F2771100F52D12860FA3E195E1F2BE" Directory="Bin" Guid="8F6F28B9-4722-43B2-BA47-799A38FD4FA8">
                <File Id="fil0777030352A360404A6D34865891981F" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\Cureos.Measures.dll" />
            </Component>
            <Component Id="cmpC1283E8E12295C57F1398DA6F0C65F2A" Directory="Bin" Guid="5E9660D3-EFFA-426D-978E-25D5DE94A4AE">
                <File Id="fil9543FAA09415C3E09ED66DAA90DB3F45" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\ICSharpCode.TextEditorEx.dll" />
            </Component>
            <Component Id="cmp223F7A40DFEA68AB8E5332C1C201B6DC" Directory="Bin" Guid="4847E0C2-4CA1-4A79-B7FA-5D41F46A0068">
                <File Id="fil53216D1158CAC2A725AF4E77F7DA2DDE" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\log4net.dll" />
            </Component>
            <Component Id="cmp7FA903CEA9889BD654B2DAB4635610A4" Directory="Bin" Guid="13F75534-CFB3-40A3-9584-3415E151EAB1">
                <File Id="filA0AE4734F4C6151F585D15E2DE650B8A" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\MIConvexHull.dll" />
            </Component>
            <Component Id="cmpA753B91B4D11CF06686676307DA07D67" Directory="Bin" Guid="3117176E-1AFB-4302-8311-75E61B35D9BE">
                <File Id="filE8CD01DA7945F10A4F7031F6B9E822F5" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\Microsoft.Bcl.AsyncInterfaces.dll" />
            </Component>
            <Component Id="cmpBD50004859623D4735EEA41FF983BE0D" Directory="Bin" Guid="A7823512-DDF8-4966-BF80-1A75CEE9E8A3">
                <File Id="filDAF5CFE0C5756300C2964835434FBCED" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp93B8AAD5CCAAA98FFAD347A19E6C3475" Directory="Bin" Guid="F5500213-EB01-44F2-AC72-B2BA9848B8F5">
                <File Id="fil2FE507B83B812AEF884414FEB99FA784" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\OfficePickers.dll" />
            </Component>
            <Component Id="cmpBEA03C834B2E572B611A831063B2308C" Directory="Bin" Guid="0EE07C98-A76D-4658-A259-F49FFFC24D1C">
                <File Id="fil439E08A3D1C204D3DC7ADC18E93BC443" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\OptionsLib.dll" />
            </Component>
            <Component Id="cmp88E995DC324011D74D449A2B6F4F9C6A" Directory="Bin" Guid="C5D69C18-F0B0-455C-934F-15134AEB20DE">
                <File Id="fil8E09F77159990E7FEC504B5B0B84B6DA" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\PropertyGridEx.dll" />
            </Component>
            <Component Id="cmp64874A6AA44AE8EA5EF21DE166ACA1D3" Directory="Bin" Guid="D0D90E3A-9647-4EC4-B72B-F17223F52773">
                <File Id="fil4CA2823E816DFAAF212EF70D25DFA665" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\RichTextBoxAppender.dll" />
            </Component>
            <Component Id="cmpF7DBB3DB90C231795A210FA29B9BDED6" Directory="Bin" Guid="B69BE128-5A72-48E7-AEA4-E4786889F719">
                <File Id="filD41C721A8E2554B9F5A5C934F20CA9B0" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\Sharp3D.Boxologic.dll" />
            </Component>
            <Component Id="cmp84BB5F6380BAC7A6AA707C764F5B9C97" Directory="Bin" Guid="D950EDAB-1FA6-437D-9A12-96D4CC4CB4FF">
                <File Id="filD6F16025096C7EC5FA37321C27041CD2" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\Sharp3D.Math.dll" />
            </Component>
            <Component Id="cmp8BF276CB484B0E1D3700226FB70DF47A" Directory="Bin" Guid="824A6CDC-919F-4F6B-BE88-46260407C5B0">
                <File Id="fil4B006E3FF9F9CDC5BC83A373A844FE22" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\Sharp3DBinPacking.dll" />
            </Component>
            <Component Id="cmp59091B35C246031969F40956E53FFD0B" Directory="Bin" Guid="C3193992-EC19-4384-A057-029550B2B91F">
                <File Id="filE93116E12CB21B1A38CE30C27BE97868" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\SharpGLTF.Core.dll" />
            </Component>
            <Component Id="cmp1296F5FB3DFCEB0D5B4D27F1E82B3918" Directory="Bin" Guid="1F67241E-389B-4257-8617-A80BFC447355">
                <File Id="fil23F66EF18832E600A93F2F102C6CEFAD" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\SharpGLTF.Toolkit.dll" />
            </Component>
            <Component Id="cmpFA3F737CB13792E4A80AE73247CC1070" Directory="Bin" Guid="27EA6CA0-0E1B-4C81-9566-2471E8216871">
                <File Id="fil78601734F77601AB601C5337002EB694" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\SourceGrid.dll" />
            </Component>
            <Component Id="cmpCB77ECEE422A13C46E0776F162D93BD6" Directory="Bin" Guid="D67E7F09-6747-4569-A08A-2F03D08BDB64">
                <File Id="fil4DD7B1F72CC894E98010B15F8EA614FF" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\Syroot.KnownFolders.dll" />
            </Component>
            <Component Id="cmpFA194DF41573A378B8180E4DCB0F2A45" Directory="Bin" Guid="DA1A2859-8C5B-4CE9-95A0-40B98D1F48BE">
                <File Id="fil23C1EFAAFFCD7415ECFA0785A1944094" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Buffers.dll" />
            </Component>
            <Component Id="cmp5B1324C9C051CA3E1B973FCB82A73E52" Directory="Bin" Guid="D082F5BE-BF72-4E5D-8327-B5E0E7A42755">
                <File Id="filABC17A98520B61E1C81C03E2874D19DA" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Collections.Immutable.dll" />
            </Component>
            <Component Id="cmpB15ACEEC811CED390A1D621548196462" Directory="Bin" Guid="630F43A3-CFE3-446F-95EB-DD463FCF7D7E">
                <File Id="fil46129BD0FE9D7D828FE52EB446C69052" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Data.Common.dll" />
            </Component>
            <Component Id="cmpFB2243E40DD7D7523AE042C7EC87B1AA" Directory="Bin" Guid="A068CA01-3C0C-401F-B2B9-544DBEBED9EA">
                <File Id="fil2127D45C8652FCB1A50CF8F3414EB32A" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Diagnostics.StackTrace.dll" />
            </Component>
            <Component Id="cmpE7188ED22FC01E38D0A36B7BD03BA3AC" Directory="Bin" Guid="829EC21D-2186-4E80-B9F2-A126DA60EC65">
                <File Id="fil1924E9F2809D9F553A875A02CED283A7" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Diagnostics.Tracing.dll" />
            </Component>
            <Component Id="cmpE0ED8C875E2675821CCB97582F25CC71" Directory="Bin" Guid="22DBBC0E-AFFD-4376-80CD-DFE7CCDA0A8F">
                <File Id="fil43FCD64744E4FE0FC31D8088DDCFD20E" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Globalization.Extensions.dll" />
            </Component>
            <Component Id="cmp663E1968B0AB0EF7CB9E83946101723C" Directory="Bin" Guid="FE3C1087-1A7D-41E3-BF64-231108B1AFFB">
                <File Id="filD5284A2B21176EB4D235B76B656D7FB8" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.IO.Compression.dll" />
            </Component>
            <Component Id="cmp534C8E124A698D2600A92B4D46C851CD" Directory="Bin" Guid="6969F619-88C6-44C9-8C44-A6A27CFBC0B3">
                <File Id="fil97BD56144F97C32BCC88C55229E82BE6" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Memory.dll" />
            </Component>
            <Component Id="cmp74115A6D4BCF09F1987563150A9ED991" Directory="Bin" Guid="FB178E8B-CC84-4CDA-B14A-C05829C1F420">
                <File Id="filD54E3EF126BD69932A436EDE0F147277" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp4454918C553CE1DC065D14049943A510" Directory="Bin" Guid="2D8FAE65-1BC2-4AB0-AC91-F240063B2208">
                <File Id="fil531A9B74D266268056763283C34F1D99" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Net.Sockets.dll" />
            </Component>
            <Component Id="cmp305B5867CCBC3CC60AABAAF05E527221" Directory="Bin" Guid="EDF0CD9C-13EB-41B1-8A28-A156FD37E9D1">
                <File Id="fil6CBC4BCBF41F99AED3D7AD5F5B2C73AE" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmp3DE5167F7CFA41CB9D75724062EC54CE" Directory="Bin" Guid="EA05624E-CBE7-4DE3-ADDA-D7D64F398E73">
                <File Id="fil09E0225ABC608E8904CCE1A9FB393B24" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpCCCA8C1BEBE1A08D72DDAF07525A283E" Directory="Bin" Guid="4B339313-02C1-4D46-A6A6-CE927639FC23">
                <File Id="filEFA9850208B3DF5920399DC45120BED0" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Runtime.Serialization.Primitives.dll" />
            </Component>
            <Component Id="cmpB1506F08D4D4FA0E5CE134627B877A5B" Directory="Bin" Guid="6427C24A-FF11-4EBF-B97E-87E145A0BFC1">
                <File Id="fil665A745CCB2C16F22E572C29E8102880" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Security.Cryptography.Algorithms.dll" />
            </Component>
            <Component Id="cmpC98E0C1FDF9B09D4772261BB0D7E8A0A" Directory="Bin" Guid="E6873EAA-1B1E-4AED-BF83-168C0EF313B1">
                <File Id="fil78D9E3714C2A2D10CF5AC96942B27BDF" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Security.Principal.Windows.dll" />
            </Component>
            <Component Id="cmp49021F06664920DC8A4C4E3468F704C6" Directory="Bin" Guid="3BEE9F48-8C46-4C1C-9418-55FA903E4CA1">
                <File Id="fil2E3FEFE4D6D3A5C11095CB31D5344ACB" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Security.SecureString.dll" />
            </Component>
            <Component Id="cmp222AF91A4870EF274F9AA31B9A648199" Directory="Bin" Guid="9C90B3CA-6BB2-45C1-ACCD-B9B35DBEE606">
                <File Id="fil2B018499E391AF7DFF7AA773119F6F97" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Text.Encodings.Web.dll" />
            </Component>
            <Component Id="cmp98C8D4470B057A78F4E179BFFCF0EC19" Directory="Bin" Guid="B294C005-ECFC-446A-BCB8-614F76BC570E">
                <File Id="fil43DC48512BBA6393AD0F3C4F51C320FB" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Text.Json.dll" />
            </Component>
            <Component Id="cmp38DE2B1DBF38EC61A1ED2E30F1C107B6" Directory="Bin" Guid="1275DC10-E7C2-4805-8F03-EF4D0369B7E5">
                <File Id="filD960895A304B58E9D5AD8F993C952CCA" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Threading.Overlapped.dll" />
            </Component>
            <Component Id="cmpE72D58B22FE9090E61ACBCE128B51E2C" Directory="Bin" Guid="2F28EA70-DD28-4436-A757-6D033DE4A75D">
                <File Id="filE4396342CFF3A9B0E2B42CF19CB366B2" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmp6B05B521015D43EB62AE9C718EEE417B" Directory="Bin" Guid="97B72F4E-B56F-42CE-9CEB-499F3A2ADD86">
                <File Id="filD4C26C95C0DB77476B5EE445B914AB92" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmp68B9CBE5ADA14C2286501ADBE97519A5" Directory="Bin" Guid="C90C61DC-F4F4-49D5-B053-50E361458D2B">
                <File Id="filE959C49BD72ECA6908A876958B5BDFEE" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\System.Xml.XPath.XDocument.dll" />
            </Component>
            <Component Id="cmp2BE50D2C71E96BC71DB1971E88433D44" Directory="Bin" Guid="DC486E24-0CAF-40C8-AB30-034F7865291C">
                <File Id="filBA549793ADE3C43EBAD68D76C5DB0F12" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\TechnologyBSA.ALCE.Desktop.application" />
            </Component>
            <Component Id="cmp10D5ACA4D025E58CAB7F87045F1FBFE0" Directory="Bin" Guid="0001EC48-AB8B-4836-890F-5964DC5FACEC">
                <File Id="filFAADD4094AB01F3C400745DA81AFB92E" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\TechnologyBSA.ALCE.Desktop.exe" />
            </Component>
            <Component Id="cmp1DECE881533E2666ECD482A6E2103FFB" Directory="Bin" Guid="9220E0D8-8FB2-4F1F-870E-EFDAA8533E8D">
                <File Id="filC8B1622D4E72CD6EFEA00810DB69322A" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\TechnologyBSA.ALCE.Desktop.exe.config" />
            </Component>
            <Component Id="cmp37F4570E56B098C10EB5224D65D0B1AA" Directory="Bin" Guid="3F4C3AE1-7754-491C-98D5-FA227265F97A">
                <File Id="fil4488155D795ED5C1832681622EB5212D" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\TechnologyBSA.ALCE.Desktop.exe.manifest" />
            </Component>
            <Component Id="cmp56B5FD2AC91A9321D8364440DFB78D24" Directory="Bin" Guid="C7650BD1-0765-45C1-9FD1-92A25ABC94B1">
                <File Id="filCFDDDC5DF37CA791B05BDE3F8B29F2DE" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\treeDiM.Basics.dll" />
            </Component>
            <Component Id="cmp47F408C085BBFCDAF267D3D7E06AB8F3" Directory="Bin" Guid="FE4166E7-7CCD-48A2-B080-8D863D7193EB">
                <File Id="fil5A524DC56CD4410FC61FC17C684CCD75" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\treeDiM.EdgeCrushTest.dll" />
            </Component>
            <Component Id="cmp2CC43E9454ECBD501835AF4DADCE11CD" Directory="Bin" Guid="1591B674-4369-4AF9-8DD4-567CDC02114C">
                <File Id="filAEBEEE6D2A57D903B7C47C927B675B23" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\treeDiM.PLMPack.DBClient.dll" />
            </Component>
            <Component Id="cmp7A726A41FE490FD1DB24ADB922A2F7F5" Directory="Bin" Guid="844A0077-E549-4D4D-A3A5-5D7C528BBEC5">
                <File Id="filB6BCFE6CF7E39F7254E8F2847BCBACE2" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\treeDiM.StackBuilder.Basics.dll" />
            </Component>
            <Component Id="cmpB5748DB170CF33732C3F08AE87AB1FDE" Directory="Bin" Guid="4A5BDB07-3C7D-4174-9582-BCC09AE0132B">
                <File Id="fil12CDB3AEF441E1C73ABFEC95843F324B" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\treeDiM.StackBuilder.Engine.dll" />
            </Component>
            <Component Id="cmp8D7BB7F6933A85DBA9867F975EA50409" Directory="Bin" Guid="F0A7D3D9-4B3E-4F09-89F5-3AD369ED368E">
                <File Id="fil9FB9552730F847CDE2C89E667AD45EB5" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\treeDiM.StackBuilder.ExcelExporter.dll" />
            </Component>
            <Component Id="cmpAB03CB15087A9BFB59753D5ADEF53708" Directory="Bin" Guid="9E577071-1B47-46B8-92F7-DF56086AD8A5">
                <File Id="fil09E3F698645D3A9C1B9464202316EF06" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\treeDiM.StackBuilder.Exporters.dll" />
            </Component>
            <Component Id="cmpBFF4558AFE987E56C73FECF9CDBBD38B" Directory="Bin" Guid="22E6E481-D7F7-449B-8EE4-212DD80EFE27">
                <File Id="fil9FD2C3909106DCF01889C88A03BFE266" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\treeDiM.StackBuilder.Graphics.dll" />
            </Component>
            <Component Id="cmp34A126EB8129C80DA30CFD113BE15B25" Directory="Bin" Guid="ACEA7999-12A5-4378-8A1B-967EE1924F3C">
                <File Id="fil6A31B8B44C75E62A4A8B54309DDE3918" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\treeDiM.StackBuilder.Plugin.dll" />
            </Component>
            <Component Id="cmp788DA1EB975A4D0BCBB7FF31BB8579CC" Directory="Bin" Guid="169CA712-F6AD-405A-9CD2-01AA43DD878B">
                <File Id="fil77C3DB2B6EDA5DEB53EFDBD66F1C0C7A" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\treeDiM.StackBuilder.Reporting.dll" />
            </Component>
            <Component Id="cmp1A951584AFA5C87018BDA8C22ED6301D" Directory="Bin" Guid="F4324AFA-9725-4A5C-A127-776425D24B36">
                <File Id="filDBA12CDF2F7470E1E5BA8CD52286B660" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\treeDiM.ThreadCallback.dll" />
            </Component>
            <Component Id="cmp9F6510A3916BEB17946C75D07D760B29" Directory="Bin" Guid="818CE5A3-467D-4FBD-9580-4067DF64D3E7">
                <File Id="fil5E2BD6F94304B2E6036601556CDBA0D0" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\treeDiM.UserControls.dll" />
            </Component>
            <Component Id="cmpC84F6623B49D671A2535B33BDD33026B" Directory="Bin" Guid="6FCE6723-0AA5-4496-AB7A-7C6CDE130476">
                <File Id="fil1287F0AF2D5F3C1F7FC2D2676331483F" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\WeifenLuo.WinFormsUI.Docking.dll" />
            </Component>
            <Component Id="cmp54399822F197E61A322210A374908FB5" Directory="Bin" Guid="B0353E15-54D5-46AC-839F-E8CF7E9FE5C4">
                <File Id="filE00FCE124A5DD2725645CB4596B7B471" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll" />
            </Component>
            <Component Id="cmpE3F9AC1278086F7241583DF31CC8988B" Directory="Bin" Guid="E5035B84-A90D-4652-BE7D-92AFBE82C537">
                <File Id="fil62B534534610968F79205117BD020C90" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\WkHtmlToXSharp.dll" />
            </Component>
            <Component Id="cmpF144BD63BE7032C01B30BAEE5A70F442" Directory="Bin" Guid="C45469C3-F2DB-41AF-A09C-51904C7512DD">
                <File Id="fil3FA9E7FCA81EC2DFA3D5F68AC1BD5CA8" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\WkHtmlToXSharp.Win32.dll" />
            </Component>
            <Component Id="cmp0BFEB3397B08109BFA50F3E16673DBAB" Directory="Bin" Guid="582D52E3-67D0-4D8A-A22D-00FDF2B7BD58">
                <File Id="filBCF2B21E0788B232786FCD86C9F92E85" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\WkHtmlToXSharp.Win64.dll" />
            </Component>
            <Component Id="cmp7E135033966B28E00C0E365AB8EDD628" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="60A23501-0212-4F0C-8BA8-72CA4129405D">
                <File Id="fil0ADC35B720AF2145653D316E0C389F70" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\fr\OfficePickers.resources.dll" />
            </Component>
            <Component Id="cmpB44B811D3111E538C9BD5BDE9112D30C" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="7F2DB7FE-F494-42E6-8D92-A4CBCA41198C">
                <File Id="filDCC3D7C009D844DF317661E2E86D5C35" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\fr\OptionsLib.resources.dll" />
            </Component>
            <Component Id="cmpEE565CE724CF93E238BE3BA5F220FD94" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="C3D0521D-D1A2-4B1D-98E9-9DF7FB95AB22">
                <File Id="fil0B5DE428A259477EAD8F3232529CA742" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\fr\TechnologyBSA.ALCE.Desktop.resources.dll" />
            </Component>
            <Component Id="cmp00BB5B8879E1A7BEE004ED3136B94F41" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="640DC62E-3AC7-4BFD-8ACC-7E643D1A8E7F">
                <File Id="fil1697D9F3380D562102469383D4D12F18" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\fr\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp187545DD2244FEA8E17C949F26969567" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="083E529F-058B-4BA7-B7A6-9208AEE9DCD9">
                <File Id="fil1B131F04CCF501175E28E7A086AB691B" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\fr\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmpF3F289E26D37FC178AB0987CA220D391" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="CB53353A-2BB5-49A4-BE9F-09AD2CCE0EB3">
                <File Id="fil541031C147EEE07A250C42BE3EEF47BD" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\fr\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmpE8F1B2AFA744AEB50A5763B4C60BCCFE" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="7530E731-2B43-4650-B33F-07646CC62E73">
                <File Id="fil9EBB4130C11F54D8C85FFE8FEC5FE098" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\fr\treeDiM.StackBuilder.Graphics.resources.dll" />
            </Component>
            <Component Id="cmp5B1454C139C1F1995312D7CCB14192DF" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="88A306C6-2A61-4055-B32A-D2C70C29E24E">
                <File Id="fil66AA3FE0D32D7823AFB84D051DB2B83C" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\fr\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmp79B2B12030CCFEE13CAEB6A3EB3A23D3" Directory="dir9AA3BF36EA892601E370D102B541D66A" Guid="071C52B4-25D5-4ADC-A97B-3EC1433222D6">
                <File Id="fil35ADE2F719F31F0F7E5B7CE86A8FA5F1" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\fr\treeDiM.UserControls.resources.dll" />
            </Component>
            <Component Id="cmp64047A16F099296BC60CF2ECF5056857" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="0F746629-91ED-4A2C-A4F7-91CC5A51687A">
                <File Id="fil2CBFA069B2459793486106BA20E5C769" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\it\OfficePickers.resources.dll" />
            </Component>
            <Component Id="cmp8DF195CD6AC063629EA7FF451CFE457D" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="B8A74090-3399-4339-BE1A-912226D65BFB">
                <File Id="fil31AA3EA69463397280A58EC4C4FDB73E" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\it\OptionsLib.resources.dll" />
            </Component>
            <Component Id="cmp8C275EC6EFB25B41917B686E10C9014E" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="27197712-733C-4C54-8374-C558CCD92AFA">
                <File Id="fil2ACD87DAC443EFB312535292E58B7455" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\it\TechnologyBSA.ALCE.Desktop.resources.dll" />
            </Component>
            <Component Id="cmpE22681EC9B1817278651D8C46E226102" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="4CF39992-6110-44C3-B2FC-ABD0054701D6">
                <File Id="fil3074809677F21F071AF9CB37581AC4B7" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\it\treeDiM.EdgeCrushTest.resources.dll" />
            </Component>
            <Component Id="cmp206236A25947AE5BE0BDB452EA53830D" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="FE9A3253-9EDA-49FC-AEE6-738E1EBA96BE">
                <File Id="fil056DA2BBA1FE864C8F217365A61AA7B3" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\it\treeDiM.PLMPack.DBClient.resources.dll" />
            </Component>
            <Component Id="cmp91B0130C7495BBA31126A504280C28E5" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="0A70B2B5-5607-47AD-B5E7-4CF90BF08064">
                <File Id="fil948F57A50D66A73338BD8921D3560230" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\it\treeDiM.StackBuilder.Basics.resources.dll" />
            </Component>
            <Component Id="cmpA9F5F48CB1155A2F133967AD79497F87" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="808D1361-1817-4EF9-8F49-C41DCE41605A">
                <File Id="filBA38A1BF2EC7225E514629EE952EDE46" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\it\treeDiM.StackBuilder.Graphics.resources.dll" />
            </Component>
            <Component Id="cmp351E57A2C2F516511F99A5E99803443E" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="EC851908-F727-422F-A1F7-A060ADEBF5A6">
                <File Id="fil067C774DA8D51FEC8FF89808A009F770" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\it\treeDiM.StackBuilder.Reporting.resources.dll" />
            </Component>
            <Component Id="cmpB5708E66A6660C78FCF789686FAACBB3" Directory="dirDC80E2C98BFA6A946C23A92CDA674B13" Guid="12D25E3A-EE54-4071-BF46-8075BE7633FF">
                <File Id="filF46742C7193835BF4090E52A1AB13EDF" KeyPath="yes" Source="$(var.ALCEDesktopSourceDir)\it\treeDiM.UserControls.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>