<?xml version="1.0" encoding="UTF-8"?>
<?include $(sys.CURRENTDIR)\Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
    >
  <Product Id="*"
						Name="$(var.ProductName)"
						Language="1033"
						Version="$(var.ProductVersion)"
						Manufacturer="$(var.ProductManufacturer)"
						UpgradeCode="$(var.UpgradeCode)">
    <Package	Id="*"
              Description="$(var.PackageDescription)"
              Comments="$(var.PackageDescription)"
              Manufacturer="$(var.ProductManufacturer)"
              Keywords="$(var.Keywords)"
							InstallerVersion="500"
							Compressed="yes"
							InstallScope="perMachine"
              ReadOnly="yes"
              ShortNames="no"
              SummaryCodepage="1252"
        />
    <MediaTemplate EmbedCab="yes"/>

    <!--Shortcut icon-->
    <Icon Id="ALCE.ico" SourceFile="ALCE.ico" />
    <!--Installer icon-->
    <Property Id="ARPPRODUCTICON" Value="ALCE.ico" />
    <Property Id="ARPHELPLINK" Value="$(var.CompanyURL)" />
    <Property Id="ARPURLINFOABOUT" Value="$(var.CompanyURL)" />

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion OnlyDetect="yes" Minimum="$(var.ProductVersion)" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
      <UpgradeVersion OnlyDetect="no" Maximum="$(var.ProductVersion)" Property="OLDERVERSIONBEINGUPGRADED" IncludeMaximum="no" />
    </Upgrade>
    
    <!-- Install execute sequence -->
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>

    <!--Features-->
		<Feature Id="ProductFeature" Title="TechnologyBSA.ALCE.DesktopMSI" Level="1" Absent="disallow"
             Display="expand" ConfigurableDirectory="$(var.InstallLocation)">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ALCEDesktopGroup"/>
      <ComponentGroupRef Id="ReportTemplatesGroup"/>
      <ComponentRef Id="BinPermissions"/>
      <ComponentRef Id="ProgramMenuShortcutComp"/>
      <ComponentRef Id="DesktopShortcutComp"/>
		</Feature>
    <!--Properties-->
    <Property Id="PROJECT_UPGRADE" Secure="yes"/>
    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />
    <Property Id="REBOOT">ReallySuppress</Property>
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
    <!--Property references-->
    <PropertyRef Id="NETFRAMEWORK40CLIENT" />
    <PropertyRef Id="NETFRAMEWORK40FULL" />

    <DirectoryRef Id="Bin">
      <Component Id="BinPermissions" Guid="{88F40CA2-B308-4C73-9E92-70660FE0DB21}">
        <CreateFolder>
          <util:PermissionEx User="Users" GenericAll="yes"/>
        </CreateFolder>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ProgramMenuShortcutComp" Guid="{7EEC4FCC-7CD9-453B-B149-C751DCFF1AD7}">
        <Shortcut Id="PMenuShortcut"
                  Name="ALCE"
                  Description="Automatic Layer Configuration Editor"
                  Target="[Bin]TechnologyBSA.ALCE.Desktop.exe"
                  Icon="ALCE.ico"
                  WorkingDirectory="Bin"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU"
                       Key="Software/$(var.ProductManufacturer)/PMenuShortcut"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcutComp" Guid="{E75368FE-2CF8-47AF-8CC1-74F9716F8E3A}">
        <Shortcut Id="DShortcut"
                  Name="ALCE"
                  Description="Automatic Layer Configuration Editor"
                  Target="[Bin]TechnologyBSA.ALCE.Desktop.exe"
                  Icon="ALCE.ico"
                  WorkingDirectory="Bin" />
        <RemoveFolder Id="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU"
                       Key="Software/$(var.ProductManufacturer)/DShortcut"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
   <!-- UI -->
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUIBannerBmp" Value="WixUIBannerBmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="WixUIDialogBmp.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <UI>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
    </UI>
	</Product>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER"/>
	</Fragment>
</Wix>
